.etiquetas{
	float:left;
	font-weight:bold;
	width:35%;
	text-transform:uppercase;
}
.datos{
	width:65%;
	float:left;
}
#wrap_detalle{
	/*border:#000 solid 1px;*/
	font-size:12px;
	background-color:#FFF;
	margin:0 auto;
	max-width:21.5cm;
	min-width:21.5cm;
}
#contenido_detalle{
	border:#000 solid 1px;
	padding:.2cm 0.7cm;
}
#cuerpoDetalle{
	font-size:14px;
}
#microged{
	font-size:20px;
	font-weight:bold;
}
#tituloCentro{
	font-size:16px;
	text-align:center;
	width:8cm;
	margin:0 auto;
	padding:2px 0 10px;
}
.cliente, .servicios, .equipo, .diagnosticoss ,.ordenes ,#garantias,.diagnosticos{
	/*border:#000 solid 1px;*/
	width:19.5cm;
	float:left;
	padding:10px 2px 3px;
}
.cuadro{
	border:#000 solid 1px;
	margin: 5px 0;
}
/*
.diagnosticos{
	float:left;
	width:auto;
	padding:5px 0;
}*/