#calendario{
	padding:10px 10px;
}
.cabezal{
	background-color:#69F;
	border-radius:15px 15px 0 0;
	-moz-border-radius:15px 15px 0 0;
	-webkit-border-radius:15px 15px 0 0;
	height:20px;
	text-align:center;
	font-weight:bold;
	color:#FFF;
}
#cal, #birthday, #laboral{
	border: 2px solid #000;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	display: inline-block;
	
	min-height:100px;
	vertical-align:top;
}
.sinmayusculas,.sinmayusculas:focus{
	text-transform:inherit;
}

.seccion-logo img{
	height: 70px;
}
.titulo-sistema{
	color: #000;
	font-family:  Arial;
	font-size: 3.5em;
	margin: 0;
	text-shadow:2px 2px 1px white;
	text-align: center;
}

.empmes{
	border: 8px solid #b99a31;
	font-family: sans-serif;
	background-color: #f9f5e6;
	text-align: center;
}
.empmes .titulo{
	background-color: #eee1b4;
	margin-top: 0;
	padding: 10px 0;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
.empmes .imagen{
	background-color: #FFF;
	border:6px solid #e9d79b;
	border-radius: 50%;
	text-align: center; 
}
.empmes .imagen img{
	margin: 5px;
}
.empmes .cuerpo{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

@media screen and (max-width:767px){
	#login{order:1;}
	#days{order:2;}
	#cal{order:3;}
	.titulo-sistema{font-size: 2.5em;}
}