<br/>
<form id="frm_buscar" name="frm_buscar" method="post" action="{{url}}">
	<fieldset>
		<legend>Realizar Busqueda {{titulo_personal}}</legend>
		<div class="fila">
			<div class="columna small">
				<!-- <label class="etiqueta tiny">Buscar </label> -->
				<input type="text" name="txtbuscar" id="txtbuscar" class="inputtext" value="{{value}}">
			</div>
			
			<div class="columna large">
				<label class="etiqueta tiny">
					<input type="radio" name="tsearch" value="1" {{checked1}}/>
					cliente
				</label>	
				<label class="etiqueta tiny">
					<input type="radio" name="tsearch" value="2" {{checked2}}/>
					Empresa
				</label>
				<label class="etiqueta tiny">
					<input type="radio" name="tsearch" value="3" {{checked3}}/>
					Nº Orden
				</label>
				<label class="etiqueta tiny">
					<input type="radio" name="tsearch" value="4" {{checked4}}/>
					Nº cliente
				</label>
				
			</div>
			<input type="submit" value="BUSCAR" name="buscador" id="buscador" class="clean-gray"/>
		</div>
	</fieldset>
</form>