/*
*Para Lista De Equipos
*/
.equipo{
	font-size: 13px;
}
.equipo .datos{
	width: 100%;
}
.obj-menu-orden, .obj-info, .obj-menu{
	display: inline-block;
	vertical-align: top;
}
.obj-info, .obj-menu{width: 48%;}
.obj-menu .menu-drop{
	float: right;
	width: auto;
}
.obj-menu .menu-drop li>ul>li, .obj-menu-orden .menu-drop li>ul>li{
	width: 150px;
}
/*
*Para Imagenes
*/
#drop-area, #file-list{
	width: 90%;
	min-height: 100px;
	background: #CCC;
	display: block;
	margin: 10px auto;
}

.contimg,.delimg,.title-img
{
	display: block;
	text-align: center;
	width: 100%;
	margin: 2px auto;
}
.delimg,.title-img
{
	font-size: 14px;
	font-weight: bold;
	border: solid 1px #CCC;
	background-color: #C7EF9F;
	border-radius: 3px;
	padding: 2px 5px;
	width: 150px;
}
.sec-img
{
	display: inline-block;
	vertical-align: top;
	margin: 2px 5px;
	padding: 12px;
	border: solid 1px #CCC;
	width: 180px;
}
.contimg img
{
	width: 120px;
	height: 80px;
}
.evento{
	border: 0.15em solid #757575;
	background-color: #E0E0E0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	font-size: 14px;
}
.evento:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E0E0E0), color-stop(1, #9E9E9E) );
    background:-moz-linear-gradient( center top, #E0E0E0 5%, #9E9E9E 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#9E9E9E');
    background-color:#E0E0E0;
    text-decoration: none;
    /*color:#ffffff;*/
}