#contenidoPrint{
	padding-left: 0.4cm;
	padding-right: 0.4cm;
}
#diag{
	display: inline-block;
	vertical-align: top;
	float: none;
}
#cliente, .servicio, #equipo, #diagnosticos{
	float: none;
	display: block;
}
#sec1, #sec2, #base{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
}
#base{
	-webkit-flex-flow: column;
	flex-flow: column;
	max-height: 12.5cm;
	min-height: 12.5cm;
	height: 12.5cm;
}
#nota, #firma{
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
#sec1, #sec2{
	-webkit-flex-flow: row;
	flex-flow: row;
}

#sec2{
	border-top: 2px solid #707275;
}
#sec1>.sec1{
	-webkit-flex: 3 1 45%;
	flex: 3 1 45%;
	text-align: center;
}
#sec1>.sec2 .label_desc, #sec1>.sec3 .label_desc, #sec2 .label_desc {
	width: 100%;
	display: block;
}
#wrapPrint{
	font-size: 11px;
	text-transform: capitalize;
}
.cabecera, .contenido, .pie{
	-webkit-flex: 3 1 10%;
	flex: 3 1 10%;
}
.cabecera{
	border:2px solid #707275;
	-webkit-flex: 3 1 20%;
	flex: 3 1 20%;
}

.contenido{
	-webkit-flex: 3 1 70%;
	flex: 3 1 70%;
}

.columna{
	border-right: 2px solid #707275;
	/*width: 24%;*/
	-webkit-flex: 3 1 24%;
	flex: 3 1 24%;
}
.columna:last-child{
	border: none;
}
.fila{
	display: inline-block;
	vertical-align: top;
	width: auto;
	padding: 0;	
}