<form {{attrform}}>
	<fieldset>
    	<legend>{{titulo_frm}}</legend>
        <div class="fila">
            {{mensaje}}
        </div>
        <div class="fila">
            <div class="columna wnormal">
                <label class="label wfull">Nombre :</label>
                <input type="text" name="nombre" id="nombre" value="{{nombre}}" class="wlarge" disabled="disabled" />
            </div>
        </div>
        <div class="fila">
            <div class="columna wnormal">
                <label class="label wfull">Usuario :</label>
                <input type="text" name="usuario" id="usuario" value="{{usuario}}" class="wlarge" />
            </div>
            <div class="columna">
                <label class="etiqueta wfull">Nueva Contraseña :</label>
                <input type="password" name="newpass" id="newpass" value="" class="wlarge" />
            </div>
        </div>
        <div class="columna">
            <input type="button" value="cambiar contraseña" id="{{changepass}}" name="{{changepass}}">
            <input type="button" value="Cancelar" onclick="history.back(-1);" />
        </div>
    </fieldset>
</form>