<div class="columna datasocial" id="{{idsocial}}" data-id="{{idsocial}}">
	<div class="fila">
		<div class="columna wnormal">
			<figure>
				<img src="{{imagen_social}}" alt="{{social_usuario}}" title="{{social_usuario}}">
			</figure>	
		</div>
		<div class="columna wauto">
			<div class="fila">
				<div class="columna wfull title">Usuario</div>
				<div class="columna wfull data">{{social_usuario}}</div>
			</div>
			<div class="fila">
				<div class="columna wfull title">Email</div>
				<div class="columna wfull data">{{social_email}}</div>
			</div>
			<div class="fila wauto" >
				<a class="links desvincular" data-id="{{id}}" data-tipo="{{tipo}}">Desvincular</a>
			</div>
			<div class="fila wauto" id="lg{{idsocial}}" data-id="{{idsocial}}"></div>
		</div>
	</div>
</div>
