[tag name="seccion_usuario_social"]
    <fieldset>
        <legend class="legenda">Redes Sociales</legend>
        <div class="fila">
            <div class="columna wauto">
                <span class="icono sistema-FaceBook2 links" id="fbinfo" data-fbid="{{fb_app}}" data-fbver="{{fb_version}}"></span>
                <div id="conectfb"></div>
            </div>
            <div class="columna wauto">
                <span class="icono sistema-Twitter2 links"></span>
                <div id="conecttw">
                	<a href="{{path_abs}}usuarios/login/" class="links">Conectar</a>
                </div>
            </div>
            <div class="columna wauto">
                <span class="icono sistema-Google2 links"></span>
                <div id="conectgl">
                	<a href="{{path_abs}}usuarios/login/" class="links">Conectar</a>
                </div>
            </div>
        </div>
        <!--
        <div class="fila infosocial">
        	{{infosocial}}
        </div>
        -->
        <div class="fila" id="red_social">
        	{{red_social}}
        </div>
    </fieldset>
[/tag name="seccion_usuario_social"]