<!-- <h2>{titulo_formulario}</h2> -->
<form id="frmuser" name="frmuser" data-ide="{{idusuario}}" data-estado="{{estado}}" data-ciudad="{{ciudad}}" data-colonia="{{colonia}}" data-editperfil="{{editperfil}}" data-contacto="1" data-folio="{{folio}}" {{attrform}}>
	<fieldset>
        <legend>{{titulo_frm}}</legend>
        <div id="msnres">{{mensaje}}</div>
    </fieldset>

    <fieldset>
        <legend class="legenda">Perfil</legend>
        [tag name="seccion_perfil"]
        <div class="fila">
            [tag name="seccion_usuario_scsmic"]
                <div class="columna wauto">
                    <input type="radio" id="catusuario" name="radiocategoria" value="2" {{chckd_usuario}} />
                    <label class="etiqueta wauto" for="catusuario">Usuario</label>
                </div>
            [/tag name="seccion_usuario_scsmic"]
            [tag name="seccion_usuario_cliente"]
                <div class="columna wauto">
                    <input type="radio" id="catcliente" name="radiocategoria" value="3" {{chckd_cliente}}/>
                    <label class="etiqueta wauto" for="catcliente">Cliente</label>
                </div>
                <div class="columna wauto">
                    <input type="radio" id="catcontrato" name="radiocategoria" value="4" />
                    <label class="etiqueta wauto" for="catcontrato">Cliente Contrato</label>
                </div>
                <div class="columna wauto">
                    <input type="radio" id="catweb" name="radiocategoria" value="5" />
                    <label class="etiqueta wauto" for="catweb">Cliente Web</label>
                </div>
                <div class="columna wauto">
                    <input type="radio" id="catafiliado" name="radiocategoria" value="6" />
                    <label class="etiqueta wauto" for="catafiliado">Afiliado</label>
                </div>
            [/tag name="seccion_usuario_cliente"]
        </div>
        [/tag name="seccion_perfil"]
            <div id="msgemp"></div>
            <!--<div class="fila" id="lstempresasuser">{{lstempresasuser}}</div>-->
            <div class="fila" id="lsttiposuser">{{lsttiposuser}}</div>
        [tag name="seccion_perfil"]
        <div class="fila">
            <div class="columna wsmall">
                <label class="etiqueta wfull">Tipo:</label>
                <select id="perfil" name="perfil">
                    {{tipoperfil}}
                </select>
            </div>
            <div class="columna wsmall">
                <label class="etiqueta wfull">Empresa:</label>
                <select id="empresa" name="empresa" class="wmedium">
                    {{lstempresas}}
                </select>
                <div id="addempresa" class="rad icono sistema-agregar links" title="agregar empresa"></div>
            </div>
            <div class="columna wsmall">
                <label class="etiqueta wfull">Estatus:</label>
                <select class="opciones" id="estatus" name="estatus">
                    {{estatusopt}}
                </select>
            </div>
            <div class="columna wtiny">
                <label class="etiqueta wfull"></label>
                <input type="button" id="{{btnperfil}}" name="{{btnperfil}}" value="Asignar Perfil"/>
            </div>
        </div>
        [/tag name="seccion_perfil"]
        <!---->
        [tag name="seccion_user_pass"]
        <div class="fila">
            <input type="checkbox" id="selusepswd" name="selusepswd" {{chkuser}}/>
            <label class="etiqueta" for="selusepswd">Especificar Usuario Y Contraseña</label>
        </div>
        <!--bloque de usuario y password-->
        <div class="fila" id="secusepswd">
            <div class="columna" >
                <label class="etiqueta wfull">Usuario:</label>
                <input type="text" class="validate[required] text-input" autocomplete="off" placeholder="" maxlength="20" id="nbrusr" name="nbrusr" value="{{nbrusr}}" />  
                <div id="msg2" class="columna tin sinmargen"></div>
            </div>
            <!--bloque de password-->
            <div class="columna">
                <label class="etiqueta wfull">Password:</label>
                <input type="password" autocomplete="off" placeholder="" class="validate[required] text-input" maxlength="20" id="nbrpwss" name="nbrpwss"/>
            </div>
        </div>
        [/tag name="seccion_user_pass"]
    </fieldset>

    <fieldset>
        <legend class="legenda">Datos Generales</legend>
        <div class="fila">
            <div class="columna wmedium">
                <label class="etiqueta wfull">Nombre(s):</label>
                <input type="text" class="validate[required] text-input wlarge" maxlength="100" id="nombre" name="nombre"  value="{{nombre}}"/>
                <!--<div id="msg" class="columna tin sinmargen"></div>-->
            </div>

            <div class="columna wtiny">
                <label class="etiqueta wfull">Folio SAE:</label>
                <input type="text" class="wlarge" id="sae" name="sae" value="{{sae}}"/>
            </div>
            <div class="columna wsmall">
                <label class="etiqueta wfull">Nacimiento:</label>
                <input type="text" class="wlarge" maxlength="12" id="nacimiento" name="nacimiento" value="{{nacimiento}}" />
            </div>
        </div>
        <!--Aqui debe de haber especificarse el bloque-->
        <div class="fila">
            <input type="checkbox" id="selinglab" name="selinglab" {{chklaboral}} />
            <label class="etiqueta" for="selinglab">Especificar Fecha De Ingreso Laboral</label>
        </div>
        <div class="fila" id="seccion_laboral">
            <div class="columna medium">
                <label class="etiqueta wfull">Fecha de Ingreso Laboral :</label>
                <input type="text" class="inputtext" maxlength="12" id="laboral" name="laboral" value="{{laboral}}" />
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend class="legenda">Dirección</legend>
        <div class="fila">
            <div class="columna wmedium">
                <label class="etiqueta wfull">Direccion:</label>
                <textarea id="direccion" name="direccion"  class="validate[required] text-input atext">{{direccion}}</textarea>
            </div>
        </div>
        <div class="fila" id="msgresidencia"></div>
        <div class="fila">
            <div class="columna small">
                <label class="etiqueta wfull">Estado:</label>
                <select id="estado" name="estado" class="wlarge">
                    {{lstestados}}
                </select>
                <div id="addestado" class="rad icono sistema-agregar links" title="agregar estado"></div>
            </div>
            <div class="columna small">
                <label class="etiqueta wfull">Ciudad:</label>
                <select name="ciudad" id="ciudad" class="wlarge">
                    {{lstciudades}}
                </select>
                <div id="addciudad" class="rad icono sistema-agregar links" title="agregar ciudad"></div>
            </div>
            <div class="columna small">
                <label class="etiqueta wfull">Colonia:</label>
                <select name="colonia" id="colonia" class="wlarge">
                    {{lstcolonias}}
                </select>
                <div id="addcolonia" class="rad icono sistema-agregar links" title="agregar colonia"></div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend class="legenda">Contacto</legend>
        <div id="msgcontacto"></div>
        <div class="fila wfull" id="sec_contactos">{{lstcontactos}}</div>
        <div class="fila">
            <div class="columna w30">
                <label class="etiqueta wfull">Tipo Contacto : </label>
                <select id="tipocontacto" class="wlarge" name="tipocontacto">{{lsttipocontacto}}</select>
            </div>
            <div class="columna wmedium">
                <label class="etiqueta wfull">Valor : </label>
                <input type="text" class="wmedium" name="valorcontacto" id="valorcontacto"/>
                <input type="button" name="{{btncontacto}}" id="{{btncontacto}}" value="agregar Dato De Contacto">
            </div>
        </div>
    </fieldset>

    {{frmsocial}}

    <div class="fila">
        <input type="button" id="save" value="Guardar" class="clean-gray"/>
        <input type="button" value="Salir" onclick="history.back(-1);" class="clean-gray" />
    </div>
</form>
<!--o-->
<div class="fila" id="sec_add_estado" title="Estados">
    <form id="frmestado">
        <div class="fila">
            <label class="etiqueta wfull">Estado:</label>
            <input type="text" maxlength="100" id="nombre_estado" name="nombre_estado" class="validate[required]"/>
        </div>
    </form>
</div>
<!--o-->
<div class="fila" id="sec_add_ciudad" title="Ciudades">
    <form id="frmciudad">
        <div class="fila">
            <label class="etiqueta wfull">Ciudad:</label>
            <input type="text" maxlength="100" id="nombre_ciudad" name="nombre_ciudad" class="validate[required]"/>
        </div>
    </form>
</div>
<!--o-->
<div class="fila" id="sec_add_colonia" title="Colonias">
    <form id="frmcolonia">
        <div class="fila">
            <label class="etiqueta wfull">Colonia:</label>
            <input type="text" maxlength="100" id="nombre_colonia" name="nombre_colonia" class="validate[required]"/>
        </div>
    </form>
</div>
<!--o-->
<div class="fila" id="sec_add_empresa" title="Empresas">
    <form id="frmempresa">
        <div class="fila">
            <label class="etiqueta wfull">Empresa:</label>
            <input type="text" maxlength="100" id="nombre_empresa" class="validate[required]" name="nombre_empresa"/>
        </div>
    </form>
</div>