<div class="grupo">
	<span class="datos">
		<span class="obj tipo">{{tipo}}</span>
		<span class="obj valor">{{valor}}</span>
	</span>
	<ul class="menu-drop">
		<li>
			<span>
				<span class="edit icono sistema-menu3 links"></span>
			</span>
			<ul>
				<li><a href="javascript:void(0)" class="delcontacto" data-clave="{{clave}}">Eliminar</a></li>
				<li><a href="javascript:void(0)" class="delcontacto" data-clave="{{clave}}">Eliminar</a></li>
				<li><a href="javascript:void(0)" class="delcontacto" data-clave="{{clave}}">Eliminar</a></li>
			</ul>
		</li>
		
	</ul>
</div>