<div class="grupo">
	<span class="datos">
		<span class="obj tipo">{{perfil}}</span>
		<span class="obj valor">{{empresa}}</span>
		<span class="obj valor">{{estatus}}</span>
	</span>
	<ul class="menu-drop">
		<li>
			<span>
				<span class="edit icono sistema-menu3 links"></span>
			</span>
			<ul>
				{{menu_activar}}
			</ul>
		</li>
	</ul>
</div>