<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>datos pérsonales</title>
	<script type="text/javascript">
        var _url_="{{path_abs}}";
    </script>
    <!--<script src="http://localhost:3000/socket.io/socket.io.js"></script>-->
    <script src="{{path_abs}}public/js/publico/prefixfree.min.js"></script>
    <script src="{{path_abs}}public/js/publico/jquery.js"></script>
    <script src="{{path_abs}}public/js/publico/jquerymigrate.js"></script>
    <script src="{{path_abs}}public/js/publico/modernizr.custom.js"></script>
    <script src="{{path_abs}}public/js/publico/flexmenu.min.js"></script>
    <script src="{{path_abs}}public/js/template/template.js"></script>
    <script src="{{path_abs}}public/js/publico/jquery.dropdown.min.js"></script>
    {{js}}
	<!--
	Desarrollado por: ISC. Angel Florentino Vargas Pool
	angelvargaspool@gmail.com
	Version 5.0.0
	-->
</head>
<body>
<div id="wrapd">
	<noscript>
	    <div id="nojs">
	        <p>Para visitar nuestra página web es necesario tener Javascript 
	    habilitado en tu navegador. Disculpa las molestias.</p>
	    </div>
	</noscript>
	<div id="contentd">
	{{contenido}}
	</div>
</div>
</body>
</html>