/*================================================================
alux v0.1.1 (http://zacidigital.com)
17 de octubre de 2016
Developed by Ing. Angel Florentino Vargas Pool
================================================================*/
/*================================================================
Grid flexbox
================================================================*/
/* 0 0 auto */
/*flex: none;*/

/* Un valor, número sin unidades: flex-grow */
/*flex: 2;*/

/* Un valor, width/height: flex-basis */
/*flex: 10em; flex: 30px; flex: auto; flex: content;*/

/* Dos valores: flex-grow | flex-basis */
/*flex: 1 30px;*/

/* Dos valores: flex-grow | flex-shrink */
/*flex: 2 2;*/

/* Tres valores: flex-grow | flex-shrink | flex-basis */
/*flex: 2 2 10%;*/
/*top left right bottom */
.cont-flex{
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	font-size: 16px;
	margin: 0 auto 5px;
	width: 100%;
	-moz-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
}
.cont-flex>.cont-flex{
	-moz-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
	width: auto;
}
.cont-flex>.cont-flex>*{
	margin-bottom: 2px;
	margin-top: 2px;
}

.flex-no-wrap{
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.cont-column{
	-moz-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-jstart{
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.flex-jend{
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-moz-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
}
.flex-jcenter{
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flex-jbetween{
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-ms-flex-pack: distribute;
	justify-content: space-between;
}
.flex-jaround{
	display: -webkit-flex; /* Safari */
	-webkit-justify-content: space-around; /* Safari 6.1+ */
	display: flex;
	justify-content: space-around;
}

.items-strech{
	-webkit-box-align:stretch;
	-ms-flex-align:stretch;
	-ms-grid-row-align:stretch;
	align-items:stretch;
}
.items-start{
	align-items:flex-start;
}
.items-end{
	align-items:flex-end;
}
.items-center{
	align-items:center;
}
.items-baseline{
	align-items:baseline;
}

/*multiline*/
.cont-strech{
	-ms-flex-line-pack: stretch;
	align-content: stretch;
}
.cont-start{
	align-content: flex-start;
}
.cont-end{
	align-content: flex-end;
}
.cont-center{
	align-content: center;
}
.cont-between{
	align-content: space-between;
}
.cont-around{
	align-content: space-around;
}

/*single item*/
.item-start{
	align-self:flex-start;
}
.item-end{
	align-self: flex-end;
}
.item-center{
	-ms-flex-item-align:center;
	align-self:center;
}
.item-baseline{
	align-self:baseline;
}
.item-strech{
	align-self:stretch;
}


.item-auto, .item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10, .item-11, .item-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.margin-item-auto{
	margin:5px 0.5% !important;
}
.item-auto{
	margin: 5px 0;
	padding: 0 2px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.item-auto-m{
	margin: 5px 2px;
	padding: 0 2px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10, .item-11, .item-12 {
	margin:5px 0.5%;
}
.item-input, .item-input-6, .item-input-11{
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.item-input{
	width: 100%;
}
.item-input-6{
	width:49%;
}
.item-input-11{
	width: 90.66%;
}
.item-0{
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}
.item-auto{-ms-flex-preferred-size: auto !important;flex-basis: auto !important;}
.item-1{-ms-flex-preferred-size: 7.33% !important;flex-basis: 7.33% !important;}
.item-2{-ms-flex-preferred-size: 15.66% !important;flex-basis: 15.66% !important;}
.item-3{-ms-flex-preferred-size: 24% !important;flex-basis: 24% !important;}
.item-4{-ms-flex-preferred-size: 32.33% !important;flex-basis: 32.33% !important;}
.item-5{-ms-flex-preferred-size: 40.66% !important;flex-basis: 40.66% !important;}
.item-6{-ms-flex-preferred-size: 49% !important;flex-basis: 49% !important;}
.item-7{-ms-flex-preferred-size: 57.33% !important;flex-basis: 57.33% !important;}
.item-8{-ms-flex-preferred-size: 65.66% !important;flex-basis: 65.66% !important;}
.item-9{-ms-flex-preferred-size: 74% !important;flex-basis: 74% !important;}
.item-10{-ms-flex-preferred-size: 82.33% !important;flex-basis: 82.33% !important;}
.item-11{-ms-flex-preferred-size: 90.66% !important;flex-basis: 90.66% !important;}
.item-12{
	-ms-flex-preferred-size: 100% !important;
	flex-basis: 100% !important;
	margin:5px 0%;
}
.cont-column>.item-auto{margin:0;}

.item-crecer-1, .item-grow-1{-webkit-box-flex:1 !important;-ms-flex-positive:1 !important;flex-grow:1 !important;-webkit-flex-grow: 1 !important;}
.item-crecer-2, .item-grow-2{-webkit-box-flex:2 !important;-ms-flex-positive:2 !important;flex-grow:2 !important;-webkit-flex-grow: 2 !important;}
.item-crecer-3, .item-grow-3{-webkit-box-flex:3 !important;-ms-flex-positive:3 !important;flex-grow:3 !important;-webkit-flex-grow: 3 !important;}
.item-crecer-4, .item-grow-4{-webkit-box-flex:4 !important;-ms-flex-positive:4 !important;flex-grow:4 !important;-webkit-flex-grow: 4 !important;}
.item-decrecer-1, .item-dec-1{-ms-flex-negative: 1 !important;flex-shrink: 1 !important;-webkit-flex-shrink: 1 !important;}
.item-decrecer-2, .item-dec-2{-ms-flex-negative: 2 !important;flex-shrink: 2 !important;-webkit-flex-shrink: 2 !important;}
.item-decrecer-3, .item-dec-3{-ms-flex-negative: 3 !important;flex-shrink: 3 !important;-webkit-flex-shrink: 3 !important;}
.item-decrecer-4, .item-dec-4{-ms-flex-negative: 4 !important;flex-shrink: 4 !important;-webkit-flex-shrink: 4 !important;}

/*ancho minimo 368px(a partir de 368px)*/
@media only screen and (min-width: 31em) {
	.item-xsm-auto, .item-xsm-1, .item-xsm-2, .item-xsm-3, .item-xsm-4, .item-xsm-5, .item-xsm-6, .item-xsm-7, .item-xsm-8, .item-xsm-9, .item-xsm-10, .item-xsm-11, .item-xsm-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		-moz-box-sizinborder-boxox;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.item-xsm-auto{
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 0 2px;
		-moz-box-sizinborder-boxox;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.item-xsm-1, .item-xsm-2, .item-xsm-3, .item-xsm-4, .item-xsm-5, .item-xsm-6, .item-xsm-7, .item-xsm-8, .item-xsm-9, .item-xsm-10, .item-xsm-11, .item-xsm-12 {
		margin:5px 0.5%;
	}
	.item-xsm-auto{-ms-flex-preferred-size: auto !important;flex-basis: auto !important;}
	.item-xsm-1{-ms-flex-preferred-size: 7.33% !important;flex-basis: 7.33% !important;}
	.item-xsm-2{-ms-flex-preferred-size: 15.66% !important;flex-basis: 15.66% !important;}
	.item-xsm-3{-ms-flex-preferred-size: 24% !important;flex-basis: 24% !important;}
	.item-xsm-4{-ms-flex-preferred-size: 32.33% !important;flex-basis: 32.33% !important;}
	.item-xsm-5{-ms-flex-preferred-size: 40.66% !important;flex-basis: 40.66% !important;}
	.item-xsm-6{-ms-flex-preferred-size: 49% !important;flex-basis: 49% !important;}
	.item-xsm-7{-ms-flex-preferred-size: 57.33% !important;flex-basis: 57.33% !important;}
	.item-xsm-8{-ms-flex-preferred-size: 65.66% !important;flex-basis: 65.66% !important;}
	.item-xsm-9{-ms-flex-preferred-size: 74% !important;flex-basis: 74% !important;}
	.item-xsm-10{-ms-flex-preferred-size: 82.33% !important;flex-basis: 82.33% !important;}
	.item-xsm-11{-ms-flex-preferred-size: 90.6666% !important;flex-basis: 90.6666% !important;}
	.item-xsm-12{
		-ms-flex-preferred-size: 100% !important;
		    flex-basis: 100% !important;
		margin:5px 0%;
	}
	.cont-column>.item-xsm-auto{
		 margin:0;
	}
	.flex-no-wrap-xsm{-ms-flex-wrap: nowrap;flex-wrap: nowrap;}
}
/*ancho minimo 768px(a partir de 768px)*/
@media only screen and (min-width: 48em) {
	.item-sm-auto, .item-sm-1, .item-sm-2, .item-sm-3, .item-sm-4, .item-sm-5, .item-sm-6, .item-sm-7, .item-sm-8, .item-sm-9, .item-sm-10, .item-sm-11, .item-sm-12 {
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	    flex: 0 0 auto;
	    -moz-box-sizinborder-boxox;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.item-sm-auto{
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 0 2px;
		-moz-box-sizinborder-boxox;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.item-sm-1, .item-sm-2, .item-sm-3, .item-sm-4, .item-sm-5, .item-sm-6, .item-sm-7, .item-sm-8, .item-sm-9, .item-sm-10, .item-sm-11, .item-sm-12 {
		margin:5px 0.5%;
	}
	.item-sm-auto{-ms-flex-preferred-size: auto !important;flex-basis: auto !important;}
	.item-sm-1{-ms-flex-preferred-size: 7.33% !important;flex-basis: 7.33% !important;}
	.item-sm-2{-ms-flex-preferred-size: 15.66% !important;flex-basis: 15.66% !important;}
	.item-sm-3{-ms-flex-preferred-size: 24% !important;flex-basis: 24% !important;}
	.item-sm-4{-ms-flex-preferred-size: 32.33% !important;flex-basis: 32.33% !important;}
	.item-sm-5{-ms-flex-preferred-size: 40.66% !important;flex-basis: 40.66% !important;}
	.item-sm-6{-ms-flex-preferred-size: 49% !important;flex-basis: 49% !important;}
	.item-sm-7{-ms-flex-preferred-size: 57.33% !important;flex-basis: 57.33% !important;}
	.item-sm-8{-ms-flex-preferred-size: 65.66% !important;flex-basis: 65.66% !important;}
	.item-sm-9{-ms-flex-preferred-size: 74% !important;flex-basis: 74% !important;}
	.item-sm-10{-ms-flex-preferred-size: 82.33% !important;flex-basis: 82.33% !important;}
	.item-sm-11{-ms-flex-preferred-size: 90.6666% !important;flex-basis: 90.6666% !important;}
	.item-sm-12{
		-ms-flex-preferred-size: 100% !important;
		flex-basis: 100% !important;
		margin:5px 0%;
	}
	.cont-column>.item-sm-auto{
		 margin:0;
	}
	.flex-no-wrap-sm{-ms-flex-wrap: nowrap;flex-wrap: nowrap;}
}
/*ancho minimo 992px(a partir de 992px)*/
@media only screen and (min-width: 62em) {
	.item-md-auto, .item-md-1, .item-md-2, .item-md-3, .item-md-4, .item-md-5, .item-md-6, .item-md-7, .item-md-8, .item-md-9, .item-md-10, .item-md-11, .item-md-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		-moz-box-sizinborder-boxox;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.item-md-auto{
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 0 2px;
		-moz-box-sizinborder-boxox;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.item-md-1, .item-md-2, .item-md-3, .item-md-4, .item-md-5, .item-md-6, .item-md-7, .item-md-8, .item-md-9, .item-md-10, .item-md-11, .item-md-12 {
		margin:5px 0.5%;
	}
	.item-md-auto{-ms-flex-preferred-size: auto !important;flex-basis: auto !important;}
	.item-md-1{-ms-flex-preferred-size: 7.33% !important;flex-basis: 7.33% !important;}
	.item-md-2{-ms-flex-preferred-size: 15.66% !important;flex-basis: 15.66% !important;}
	.item-md-3{-ms-flex-preferred-size: 24% !important;flex-basis: 24% !important;}
	.item-md-4{-ms-flex-preferred-size: 32.33% !important;flex-basis: 32.33% !important;}
	.item-md-5{-ms-flex-preferred-size: 40.66% !important;flex-basis: 40.66% !important;}
	.item-md-6{-ms-flex-preferred-size: 49% !important;flex-basis: 49% !important;}
	.item-md-7{-ms-flex-preferred-size: 57.33% !important;flex-basis: 57.33% !important;}
	.item-md-8{-ms-flex-preferred-size: 65.66% !important;flex-basis: 65.66% !important;}
	.item-md-9{-ms-flex-preferred-size: 74% !important;flex-basis: 74% !important;}
	.item-md-10{-ms-flex-preferred-size: 82.33% !important;flex-basis: 82.33% !important;}
	.item-md-11{-ms-flex-preferred-size: 90.6666% !important;flex-basis: 90.6666% !important;}
	.item-md-12{
		-ms-flex-preferred-size: 100% !important;
		flex-basis: 100% !important;
		margin:5px 0%;
	}
	.cont-column>.item-md-auto{
		margin:0;
	}
	.flex-no-wrap-md{-ms-flex-wrap: nowrap;flex-wrap: nowrap;}
}
/*ancho minimo 1200px(a partir de 1200px)*/
@media only screen and (min-width: 75em) {
	.item-lg-auto, .item-lg-1, .item-lg-2, .item-lg-3, .item-lg-4, .item-lg-5, .item-lg-6, .item-lg-7, .item-lg-8, .item-lg-9, .item-lg-10, .item-lg-11, .item-lg-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		-moz-box-sizinborder-boxox;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.item-lg-auto{
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 0 2px;
		-moz-box-sizinborder-boxox;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.item-lg-1, .item-lg-2, .item-lg-3, .item-lg-4, .item-lg-5, .item-lg-6, .item-lg-7, .item-lg-8, .item-lg-9, .item-lg-10, .item-lg-11, .item-lg-12 {
		margin:5px 0.5%;
	}
	.item-lg-auto{-ms-flex-preferred-size: auto !important;flex-basis: auto !important;}
	.item-lg-1{-ms-flex-preferred-size: 7.33% !important;flex-basis: 7.33% !important;}
	.item-lg-2{-ms-flex-preferred-size: 15.66% !important;flex-basis: 15.66% !important;}
	.item-lg-3{-ms-flex-preferred-size: 24% !important;flex-basis: 24% !important;}
	.item-lg-4{-ms-flex-preferred-size: 32.33% !important;flex-basis: 32.33% !important;}
	.item-lg-5{-ms-flex-preferred-size: 40.66% !important;flex-basis: 40.66% !important;}
	.item-lg-6{-ms-flex-preferred-size: 49% !important;flex-basis: 49% !important;}
	.item-lg-7{-ms-flex-preferred-size: 57.33% !important;flex-basis: 57.33% !important;}
	.item-lg-8{-ms-flex-preferred-size: 65.66% !important;flex-basis: 65.66% !important;}
	.item-lg-9{-ms-flex-preferred-size: 74% !important;flex-basis: 74% !important;}
	.item-lg-10{-ms-flex-preferred-size: 82.33% !important;flex-basis: 82.33% !important;}
	.item-lg-11{-ms-flex-preferred-size: 90.6666% !important;flex-basis: 90.6666% !important;}
	.item-lg-12{
		-ms-flex-preferred-size: 100% !important;
		flex-basis: 100% !important;
		margin:5px 0%;
	}
	.cont-column>.item-lg-auto{
		margin:0;
	}
	.flex-no-wrap-lg{-ms-flex-wrap: nowrap;flex-wrap: nowrap;}
}

/*================================================================
CSS Form
================================================================*/
fieldset{ 
	width:100%;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
form {
	border:2px solid #3F51B5;
	border-radius:4px;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	margin: 10px auto;
	min-height:100px;
	width:auto;
}
textarea{
	min-height: 65px;
	max-height: 65px;
	height: 65px;}
legend {
	border-bottom:2px solid #3F51B5;
	background-color:#5C6BC0;
	border-radius:2px 2px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius:8px 8px 0 0;
	color: #fff;
	font-weight:bold;
	/*height:20px;*//*ahora el ancho es variable*/
	margin:0 0 8px 0;
	padding: 3px 0;
	text-align:center;
	width:100%;
}

input, select{
	/*width: 90%;*/
}

.focusclass:focus{
	border: 3px solid #E0E0E0;
}


.formclass{
	border:none;
}
.label{
	font-size: 12px;
	font-weight: bold;
	padding: 0 1px;
	text-transform: uppercase;
	vertical-align: top;
	word-wrap: break-word;
}
.legenda{border-bottom: 2px solid #3F51B5; border-top: 2px solid #3F51B5; border-radius: 0;}

/*================================================================
Items css
================================================================*/
.item{
	background-color: #e3f2fd !important;
	border-radius: 2% !important;
	font-size: 13px !important;
}
.item-title{
	font-weight: bold !important;
	font-size: 13px !important;
}
.item-del{
	height: 25px !important;
	line-height: 25px !important;
	font-weight: bold !important;
	font-size: 12px !important;
}

.infouser{
	background-color: #FFF4CC;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-weight: bold;
	font-size: 13px !important;
	border: 2px solid #F8E3AC;
	/*color: #E7A36F;*/
	/*color: #F07746;*/
	color: #0A0A0A;
	line-height: 16px;
	font-family: Tahoma;
	text-transform: capitalize;
}
.infouser>.cont-flex>*{
	font-size: 13px !important;
}