.dropdown-content {
	background-color: #fff;
	margin: 0;
	display: none;
	min-width: 100px;
	max-height: 650px;
	overflow-y: auto;
	opacity: 0;
	position: absolute;
	z-index: 999;
	will-change: width, height; }
.dropdown-content li {
	clear: both;
	color: rgba(0, 0, 0, 0.87);
	cursor: pointer;
	min-height: 50px;
	line-height: 1.5rem;
	width: 100%;
	text-align: left;
	text-transform: none; }
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
	background-color: #eee; }
.dropdown-content li.active.selected {
	background-color: #e1e1e1; }
.dropdown-content li.divider {
	min-height: 0;
	height: 1px; }
.dropdown-content li > a, .dropdown-content li > span {
	font-size: 16px;
	color: #26a69a;
	display: block;
	line-height: 22px;
	padding: 14px 16px; }
.dropdown-content li > span > label {
	top: 1px;
	left: 3px;
	height: 18px; }
.dropdown-content li > a > i {
	height: inherit;
	line-height: inherit; }