a{
	color:#000;
	text-decoration:none;
}
body{
	background-color:#FFF;
	font-family:Arial, Helvetica;
	font-size: 16px;
}
footer{
	border-top:2px solid #000;
	background:url(../img/footer_microged.jpg) no-repeat;
	clear:both;
	height:57px;
}
h1{
	font-size:36px;
	font-weight:bold;
	text-align:center;
}
h2{
	font-size:30px;
	font-weight:bold;
	padding:15px auto;
	text-align:center;
}
h3{
	font-size:25px;
	font-weight:bold;
	text-align:center;
	padding:15px auto;
}
header{
	color: #fff;
	background-color:#69F;
	position:relative;
}
p{
	padding: 0;
	margin: 0;
}
#content{
	background:#FFF;
	padding:20px;
	min-height:380px;
}
#contentd{
	background:#FFF;
	margin:0 20px;
	min-height:380px;
	width:auto;
	height:auto;
}
#hora{
	position: absolute;
	height: 30px;
	vertical-align:top;
	width: 200px;	
}
#login{
	border:1px #000 solid;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	box-shadow:6px 6px 10px black;
	-moz-box-shadow:6px 6px 10px black;
	-webkit-box-shadow:6px 6px 10px black;
	font-family:Verdana, Geneva, sans-serif;
	margin:65px auto;width:40%;
}
#logo{
	height:204px;
	width:960px;
}
#navuser{
	/*border:1px solid #000;*/
	display: inline-block;
	font-size:15px;
	font-weight:bold;
	position: absolute;
	padding: 0 10px;
	right:0;
	bottom:10px;
	text-align:right;
	text-transform:uppercase;
	vertical-align: top;
	width:auto;
}
#navuser a{
	color: #FFF;
}
#navuser div,a,img{
	display: inline-block;
	vertical-align:top;	
}
#nojs
{
	bottom:0px;
	background: rgba(0,128,128,1);
	display:block; 
	height:100%; 
	left: 0px; 
	position:absolute;
	position:fixed;
	right:0px; 
	top: 0px;
	width:100%; 
	z-index:1000;
}
#nojs p{
	font-size: 32px;
	color: rgba(255,255,255,0.9);
	width: 40%;
	margin: 15% auto;
	line-height: 1em;
}
#msnres,.msnres{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size:12px;
	width:auto;
}
#wrap{
	background:#000;
	border:2px solid #000;
	box-shadow:6px 6px 10px black;
	-moz-box-shadow:6px 6px 10px black;
	-webkit-box-shadow:6px 6px 10px black;
	margin:0 auto;
	position:relative;
	width:960px; 
}
#wrapd{
	background:#FFF;
	border:2px solid #000;
	margin:0 auto;
	position:relative;
	width:auto;
	height:auto;
}
.buscador{
	border:solid 1px #000;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	margin:0 auto;
	width:300px;
}
.capital{
	text-transform: capitalize;
}
.correcto{
	background:#F0FFF0;
	border:1px solid #0F0;
	color:#000;}
.incorrecto{
	background:#FFC;
	border:1px solid #F00;}
.links{
	color:#00F;
	cursor:pointer;
	font-size:12px;
	text-transform:uppercase;
}
.links:hover{
	color:#007;
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;}
.mayus{
	text-transform:uppercase;
}
.negritas{
	font-weight:bold;
}
.oculto{
	display: none;
}
.pag{
	display: table;
	margin: 20px auto;
	width: auto;
}
.paginas{
	border:#000 1px solid;
	display: inline-block;
	font-size:14px;
	font-weight:bold;
	height:14px;
	padding:2px 4px;
	text-align:center;
	vertical-align:top;
}
.pag_actual{
	background:#000;
	border:#000 1px solid;
	color:#FFF;
	display: inline-block;
	font-size:14px;
	font-weight:bold;
	height:14px;
	padding:2px 4px;
	vertical-align:top;
}
.derecha{
	text-align: right;
}