a{
	color:#000;
	text-decoration:none;
}
body{
	background-color:#FFF;
	font-family:Arial, Helvetica;
	font-size: 16px;
	line-height: 1;
}
footer
{
	-webkit-background-size: cover;
	background:url(../../img/plantilla/footer_microged.jpg) no-repeat center;
	border-top:2px solid #000;
	clear:both;
	height:57px;
	width: 1024px;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1{
	font-size:36px;
	font-weight:bold;
	text-align:center;
}
h2{
	font-size:30px;
	font-weight:bold;
	padding:15px auto;
	text-align:center;
}
h3{
	font-size:25px;
	font-weight:bold;
	text-align:center;
	padding:15px auto;
}
header{
	color: #fff;
	background-color:#69F;
	position:relative;
}
html,body{
	background-color:rgb(86.3%,86.3%,86.3%);
	/*background-color:rgb(69%,87.8%,90.2%);*/
}
/***/
ul{
	margin: 0;
	padding: 0;
}
fieldset{
	margin: 0;
	padding: 0;
	border: 0;
}

/***/
#bienvenido{
	color: black;
}
#content{
	background:#FFF;
	padding:5px;
	min-height:380px;
}
#contentd{
	background:#FFF;
	margin:0 20px;
	min-height:380px;
	width:auto;
	height:auto;
}
#hora{
	/*display: inline-block;*/
	height: 30px;
	margin: -30px 0;
	position: absolute;
	padding: 2px 5px;
	vertical-align:top;
}
#login
{
	border:1px #000 solid;
	border-radius:15px;
	box-shadow:6px 6px 10px black;
	font-family:Verdana, Geneva, sans-serif;
	margin:65px auto;width:40%;
}
#logo{
	height:204px;
	width:1024px;
}
#logo img
{
	width: auto;
}
#logo #logo_microged
{
	width: 1024px;
	height: 204px;
}
.logotipo{
	margin-top: -170px;
}
.titulo-sistema{
	color: #000;
	font-family:  Arial;
	font-size: 4em;
	margin: 0;
	text-shadow:2px 2px 1px white;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
/*******************************************/
#navuser
{
	display: inline-block;
	vertical-align: top;
	width: auto;
	position: relative;
	border: 1px solid #000;
}
/*
#navuser{
	display: inline-block;
	font-size:15px;
	font-weight:bold;
	position: absolute;
	padding: 0 10px;
	right:0;
	bottom:10px;
	text-align:right;
	text-transform:uppercase;
	vertical-align: top;
	width:auto;
}
#navuser a{
	color: #FFF;
}
#navuser div,a,img{
	display: inline-block;
	vertical-align:top;	
}
*/
/*******************************************/
#nojs
{
	bottom:0px;
	background: rgba(0,128,128,1);
	display:block; 
	height:100%; 
	left: 0px; 
	position:absolute;
	position:fixed;
	right:0px; 
	top: 0px;
	width:100%; 
	z-index:1000;
}
#nojs p{
	font-size: 32px;
	color: rgba(255,255,255,0.9);
	width: 40%;
	margin: 15% auto;
	line-height: 1em;
}
#msnres,.msnres{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size:12px;
	width:auto;
}
#wrap{
	background:#000;
	border:2px solid #000;
	box-shadow:8px 0px 5px rgba(0,0,0,0.6),-8px 0px 5px rgba(0,0,0,0.6);
	/*
	box-shadow:6px 6px 10px black;
	-moz-box-shadow:6px 6px 10px black;
	-webkit-box-shadow:6px 6px 10px black;
	*/
	margin:0 auto;
	position:relative;
	width:1024px; 
}
#wrapd{
	background:#FFF;
	border:2px solid #000;
	margin:0 auto;
	position:relative;
	width:auto;
	height:auto;
}
.buscador{
	border:solid 1px #000;
	border-radius:15px;
	margin:0 auto;
	width:600px;
}
.capital{
	text-transform: capitalize;
}

.correcto,.error{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-transform: uppercase;
	text-align: center;
}
.correcto{
	border: 2px solid #040;
	background: #9F6;
}
.error{
	border: 2px solid #F00;
	background: #F90;
}

.links{
	color:#00F;
	cursor:pointer;
	font-size:12px;
	text-transform:uppercase;
}
.links:hover{
	color:#007;
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;}
.mayus{
	text-transform:uppercase;
}
.negritas{
	font-weight:bold;
}
.oculto{
	display: none;
}

