a{
	color:#000;
	text-decoration:none;
}
body{
	background-color:#FFF;
	font-family:Arial, Helvetica;
	font-size: 16px;
	line-height: 1;
	transition: background-color .5s;
}
h1{
	font-size:36px;
	font-weight:bold;
	text-align:center;
}
h2{
	font-size:30px;
	font-weight:bold;
	padding:15px auto;
	text-align:center;
}
h3{
	font-size:25px;
	font-weight:bold;
	text-align:center;
	padding:15px auto;
}
html,body{
	background-color:#eceff1;
	
}
ul{
	margin: 0;
	padding: 0;
}
fieldset{
	margin: 0;
	padding: 0;
	border: 0;
}
ul>li{
	list-style: none;
}
#nojs {
	bottom:0px;
	background: rgba(0,128,128,1);
	display:block; 
	height:100%; 
	left: 0px; 
	position:absolute;
	position:fixed;
	right:0px; 
	top: 0px;
	width:100%; 
	z-index:1000;
}
#nojs p {
	font-size: 32px;
	color: rgba(255,255,255,0.9);
	width: 40%;
	margin: 15% auto;
	line-height: 1em;
}
#menu_user{
	line-height: 1;
	padding: 0;
	font-weight: bold;
	width: 100%;
	height: auto;
}
#menu_user>.cont-flex {
	font-size: 13px !important;
}
#title_module{
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
}
.header-container, .footer, .main-container{
	padding-left: 0.5%;
	padding-right: 0.5%;
}
.bar-container{
	background-color: #64b5f6;
}
.footer{
	-webkit-background-size: cover;
	background:url("../../img/plantilla/footer_microged.jpg") no-repeat center;
	border-top:2px solid #000;
	clear:both;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.header-container{
	color: #fff;
	background-color:#69F;
}
.footer, .footer-container{
	height:57px;
}

.main{
	margin-top: 0;
	margin-bottom: 0;
	transition: margin-left .5s;
}
.wraper{
	min-height: 100vh;
	background-color: #f5f5f5;
	margin-top: 0;
	margin-bottom: 0;
}

.sidenav ul{
	padding-top: 50px; /* Place content 60px from the top */
	padding-bottom: 30px;
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
/*
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
*/

/* Close Button */
.close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #bdc3c7;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#openbutton{
	color: transparent;
	margin: 0;
	padding: 0;
	background-color: #69f;
	border: none;
  	border-radius: 0;
}
.openbtn{
	font-size: 40px;
	color: #000;
}

.navmenu{width: 30%;}
.closenavmenu{width: 0;}
.sec_close_btn{
	height: 25px;
}
/*
**Menu
*/
/*.collapsiblemenu{font-size:1.5em}*/

.collapsiblemenu li { /*border: 1px solid #bbb;border-top:0;*/ margin: 0;}
.collapsiblemenu li a {text-decoration:none; color:#FFF;display:block; padding:8px 12px;}
.collapsiblemenu li a:hover {/*background: #F8F8F8;*/ text-decoration:none;}
.collapsiblemenu li ul { list-style: none; display: none; margin:0;padding:0;}
.collapsiblemenu li ul li { margin:0; border:0; /*border-bottom:1px solid #bbb;*/}
.collapsiblemenu li ul li:last-child {border-bottom:0;}
.collapsiblemenu li ul li a{ padding: 0px 10px; display: block; padding-left: 33px; }
.drpdown > ul > .drpdown > ul li a{ padding: 10px 10px; display: block; padding-left: 50px; }
.collapsiblemenu li ul li a:hover { /*background: #f1f1f1;*/ }
.collapsiblemenu .drpdown > a { background: url(arrowdown.png) no-repeat right center; }
.collapsiblemenu .drpdown > a:hover { background: url(arrowdown.png) no-repeat right center !important; }
.collapsiblemenu .drpdown > div { background: url(arrowdown.png) no-repeat right center; }
.collapsiblemenu .drpdown > div:hover { background: url(arrowdown.png) no-repeat right center !important; }
.drpdown > div{padding: 10px 10px; padding-left: 30px; }
.drpdown > div > a {padding-left: 10px !important;}

.imgcount{font-size: 30px;}
/*
**Badge
*/
.mdl-badge {
    margin-right: 15px;
    position: relative;
    white-space: normal;
}
.mdl-badge[data-badge]::after{
	right: -10px;
}

.mdl-menu__item>a{
	display: inline-block;
	width: 100%;
}


.correcto,.error{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-transform: uppercase;
	text-align: center;
}
.correcto{border: 2px solid #CCEBAC; background: #E0F2CB;}
.error{border: 2px solid #F5C69A; background-color: #FBD3B1;}
.retrasado{
	background-color: #b71c1c !important;
}



.links{
	color:#3C44ED;
	cursor:pointer;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
}
.links:hover {
	color:#030539;
}
.mayus {
	text-transform:uppercase;
}
.negritas {
	font-weight:bold;
}
.oculto{
	display: none !important;
}
.mprin {
	font-variant: small-caps;
	/*mayusculas primero*/
}


/*
*Colores para las cotizaciones
*/
.cotizacion-verde{
	background-color: #a5d6a7 !important;
}
.cotizacion-Amarillo{
	background-color: #fff59d !important;
}
.cotizacion-rojo{
	background-color: #ef9a9a !important;
}

/*
*iconos
*/
.hand{cursor: pointer;}
.icono{background: url("spritesheet.png") no-repeat top left;}
a.icono, .icono>a{width: 24px; height: 24px;display: inline-block;}
/*.sistema{background-image:url(spritesheet.png);background-repeat:no-repeat;display:block}*/
.sistema-FaceBook{width:24px;height:24px;background-position:-2px -2px}
.sistema-FaceBook2{width:48px;height:48px;background-position:-30px -2px}
.sistema-Google{width:24px;height:24px;background-position:-82px -2px}
.sistema-Google2{width:48px;height:48px;background-position:-110px -2px}
.sistema-Twitter{width:24px;height:24px;background-position:-162px -2px}
.sistema-Twitter2{width:48px;height:48px;background-position:-190px -2px}
.sistema-adddesc{width:24px;height:24px;background-position:-2px -54px}
.sistema-agregar{width:24px;height:24px;background-position:-30px -54px}
.sistema-ayuda{width:24px;height:24px;background-position:-58px -54px}
.sistema-buscar{width:24px;height:24px;background-position:-86px -54px}
.sistema-camarillo{width:24px;height:24px;background-position:-114px -54px}
.sistema-cazul{width:24px;height:24px;background-position:-142px -54px}
.sistema-celullar{width:24px;height:24px;background-position:-170px -54px}
.sistema-cerrar{width:24px;height:24px;background-position:-198px -54px}
.sistema-cgris{width:24px;height:24px;background-position:-2px -82px}
.sistema-check{width:24px;height:24px;background-position:-30px -82px}
.sistema-cnaranja{width:24px;height:24px;background-position:-58px -82px}
.sistema-coins_add{width:24px;height:24px;background-position:-86px -82px}
.sistema-coins_delete{width:24px;height:24px;background-position:-114px -82px}
.sistema-computer{width:24px;height:24px;background-position:-142px -82px}
.sistema-credit{width:24px;height:24px;background-position:-170px -82px}
.sistema-crojo{width:24px;height:24px;background-position:-198px -82px}
.sistema-cverde{width:24px;height:24px;background-position:-2px -110px}
.sistema-deldesc{width:24px;height:24px;background-position:-30px -110px}
.sistema-dinero{width:24px;height:24px;background-position:-58px -110px}
.sistema-dollar{width:24px;height:24px;background-position:-86px -110px}
.sistema-draw_star{width:24px;height:24px;background-position:-114px -110px}
.sistema-editar{width:24px;height:24px;background-position:-142px -110px}
.sistema-editdesc{width:24px;height:24px;background-position:-170px -110px}
.sistema-eliminar{width:24px;height:24px;background-position:-198px -110px}
.sistema-email_go{width:24px;height:24px;background-position:-2px -138px}
.sistema-email_open{width:24px;height:24px;background-position:-30px -138px}
.sistema-equipos{width:24px;height:24px;background-position:-58px -138px}
.sistema-evento{width:24px;height:24px;background-position:-86px -138px}
.sistema-facebook-icon{width:30px;height:30px;background-position:-114px -138px}
.sistema-flag_yellow{width:24px;height:24px;background-position:-148px -138px}
.sistema-gplus-icon{width:30px;height:30px;background-position:-176px -138px}
.sistema-guardar{width:24px;height:24px;background-position:-210px -138px}
.sistema-hand_point{width:24px;height:24px;background-position:-2px -166px}
.sistema-imprimir{width:24px;height:24px;background-position:-30px -166px}
.sistema-info{width:24px;height:24px;background-position:-58px -166px}
.sistema-key{width:24px;height:24px;background-position:-86px -166px}
.sistema-like{width:24px;height:24px;background-position:-148px -166px}
.sistema-load{width:24px;height:24px;background-position:-210px -166px}
.sistema-mail{width:24px;height:24px;background-position:-2px -194px}
.sistema-medal_gold{width:24px;height:24px;background-position:-30px -194px}
.sistema-medal_gold_2{width:24px;height:24px;background-position:-58px -194px}
.sistema-medal_gold_3{width:24px;height:24px;background-position:-86px -194px}
.sistema-menu1{width:24px;height:24px;background-position:-114px -194px}
.sistema-menu2{width:24px;height:24px;background-position:-142px -194px}
.sistema-menu3{width:24px;height:24px;background-position:-170px -194px}
.sistema-msg{width:24px;height:24px;background-position:-198px -194px}
.sistema-password{width:24px;height:24px;background-position:-242px -2px}
.sistema-pdf{width:24px;height:24px;background-position:-242px -30px}
.sistema-permisos{width:24px;height:24px;background-position:-226px -58px}
.sistema-pin{width:24px;height:24px;background-position:-226px -86px}
.sistema-registro{width:24px;height:24px;background-position:-238px -114px}
.sistema-star_off{width:24px;height:24px;background-position:-238px -142px}
.sistema-star_on{width:24px;height:24px;background-position:-238px -170px}
.sistema-stop{width:24px;height:24px;background-position:-226px -198px}
.sistema-telefono{width:24px;height:24px;background-position:-2px -226px}
.sistema-twitter-icon{width:30px;height:30px;background-position:-30px -226px}
.sistema-users{width:24px;height:24px;background-position:-64px -226px}
.sistema-usuarios{width:24px;height:24px;background-position:-92px -226px}
.sistema-ver{width:24px;height:24px;background-position:-120px -226px}

.btnacceso {
    -moz-box-shadow:inset 0 0 0 0 #bbdaf7;
    -webkit-box-shadow:inset 0 0 0 0 #bbdaf7;
    box-shadow:inset 0 0 0 0 #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:normal;
    padding:4px 10px;
    text-decoration:none;
    text-shadow:1px 0 0 #528ecc;
    margin-top: 5px;
}
.btnacceso:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
    text-decoration: none;
    color:#ffffff;
}
.btnacceso:active {
    position:relative;
    top:1px;
}

.ui-autocomplete
{
	max-height: 150px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

.icon{
	width: 27px;
	height: 27px;
	border-radius: 50%;
	/*border:1px solid #000;*/
	font-size: 18px;
	line-height: default;
	line-height: 25px;
	background-color: #5c6bc0;
	color:#FFF;
	text-align: center;
}

.icon_menu_mod{
	color: #FFF;
	font-size: 25px;
}

.requerido:after{
	content: "*";
	color: #D50000;
	font-size: 20px;
}

.derecha{
	text-align: right;
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {height: 150px;}

.ui-dialog .ui-dialog-content{
	position: static !important;
}
/*ancho minimo 768px*/
@media only screen and (max-width: 48em) {
	body{
		font-size: 32px;
	}
	.navmenu{width: 50%;}
}