a{
	color:#000;
	text-decoration:none;
}
body{
	background-color:#CCC;
	font-family:Arial, Helvetica;
	font-size: 16px;
}
h1{
	font-size:36px;
	font-weight:bold;
	text-align:center;
}
h2{
	font-size:30px;
	font-weight:bold;
	margin:15px auto;
	text-align:center;
}
h3{
	font-size:25px;
	font-weight:bold;
	text-align:center;
	margin:15px auto;
}
h3{
	font-size:20px;
	font-weight:bold;
	text-align:center;
	margin:15px auto;
}
#content_2{
	background:#FFF;
	margin:0 20px;
	min-height:380px;
	width:auto;
	height:auto;
}
#msnres, #msnapli{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size:12px;
	width:auto;
}
#nojs
{
	bottom:0px;
	background: rgba(0,128,128,1);
	display:block; 
	height:100%; 
	left: 0px; 
	position:absolute;
	position:fixed;
	right:0px; 
	top: 0px;
	width:100%; 
	z-index:1000;
}
#nojs p{
	font-size: 32px;
	color: rgba(255,255,255,0.9);
	width: 40%;
	margin: 15% auto;
	line-height: 1em;
}
#wrap{
	background:#FFF;
	border:2px solid #000;
	margin:0 auto;
	position:relative;
	width:auto;
	height:auto;
}
.correcto{
	background:#F0FFF0;
	border:1px solid #0F0;
	color:#000;}
.incorrecto{
	background:#FFC;
	border:1px solid #F00;}
.mayus{
	text-transform:uppercase;
}