/*
flex menu navegador 1
*/
#nav1 .flexMenu-popup {
    padding: 0;
    background-color: #7194bc;
    margin: 0;
    z-index: 9999;
    position: absolute;
    width: 150px;
}

#nav1 .flexMenu-popup li, #nav1 .flexMenu-popup li>a, #nav1 .flexMenu-popup li img{
    height: auto;
    width: auto;
    margin: 0;
}
#nav1 .flexMenu-popup li a.activado, #nav1 .flexMenu-popup li a{
    padding: 10px 5px;
    border-radius: 0px;
}
#nav1 .flexMenu-popup li:hover{
    background-color: #0066CC;
}
#nav1 .flexMenu-popup li div{
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
#nav1 .flexMenu-popup li span{
    display: inline-block;
    vertical-align: top;
}
#nav1 .flexMenu-viewMore:hover, #nav1 .flexMenu-viewMore.active, #nav1 .flexMenu-viewMore.active:hover{
    background-color: #0066CC;  
}
/*
flex menu navegador 2
*/
#nav2 .flexMenu-popup {
    padding: 0;
    background-color: #69f;
    margin: 0;
    z-index: 9999;
    position: absolute;
}
#nav2 .flexMenu-popup li.inactivo{
    height: auto;
    border-left:2px solid #69f;
    border-right:2px solid #69f;
}
#nav2 .flexMenu-popup li.inactivo>a{
    width: 150px;
    height: auto;
    border: 0;
    padding: 10px 5px;
}
#nav2 .flexMenu-popup li.inactivo:hover{
    height: auto;
    border: 0;
}
#nav2 .flexMenu-viewMore{
    background-color: #69f;
}
#nav2 .flexMenu-viewMore:hover, #nav2 .flexMenu-viewMore.active, #nav2 .flexMenu-viewMore.active:hover{
    border-left:2px solid #000;
    border-right:2px solid #000;
    border-top:2px solid #000;
    border-bottom: 4px solid #fff;
    background-color: #FFF; 
}