a{
	color:#000;
	text-decoration:none;
}
body{
	background-color:#FFF;
	font-family:Arial, Helvetica;
	font-size: 16px;
	line-height: 1;
	
}
h1
{
	font-size:36px;
	font-weight:bold;
	text-align:center;
}
h2
{
	font-size:30px;
	font-weight:bold;
	padding:15px auto;
	text-align:center;
}
h3
{
	font-size:25px;
	font-weight:bold;
	text-align:center;
	padding:15px auto;
}
header
{
	color: #fff;
	background-color:#69F;
	position:relative;
}
html,body
{
	background-color:#F6F8F8;
	min-height: 100vh;
}
/***/
ul{
	margin: 0;
	padding: 0;
}
fieldset{
	margin: 0;
	padding: 0;
	border: 0;
}
#contentd/*eliminar si es necesario*/
{
	background:#FFF;
	margin:0 20px;
	min-height:380px;
	width:auto;
	height:auto;
}
#login/*verficar si es necesario eliminar*/
{
	border:1px #000 solid;
	border-radius:15px;
	box-shadow:6px 6px 10px black;
	font-family:Verdana, Geneva, sans-serif;
	margin:65px auto;width:40%;
}
#nojs
{
	bottom:0px;
	background: rgba(0,128,128,1);
	display:block; 
	height:100%; 
	left: 0px; 
	position:absolute;
	position:fixed;
	right:0px; 
	top: 0px;
	width:100%; 
	z-index:1000;
}
#nojs p
{
	font-size: 32px;
	color: rgba(255,255,255,0.9);
	width: 40%;
	margin: 15% auto;
	line-height: 1em;
}
#wrapd/*verificar si es necesario eliminar*/
{
	background:#FFF;
	border:2px solid #000;
	margin:0 auto;
	position:relative;
	width:auto;
	height:auto;
}
#msnres,.msnres
{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size:12px;
	width:auto;
}
.contenido
{
	padding: 10px;
	background: #FFF
}
.footer
{
	-webkit-background-size: cover;
	background:url("../../img/plantilla/footer_microged.jpg") no-repeat center;
	border-top:2px solid #000;
	clear:both;
	height:57px;
	width: 1024px;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.header
{
	background-color: transparent;
}
.header-container,.footer-container
{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #9DC4E1 0%, #8FB7DB 50%, #75AAD4 75%, #5C9ECF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #9DC4E1 0%, #8FB7DB 50%, #75AAD4 75%, #5C9ECF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #9DC4E1 0%, #8FB7DB 50%, #75AAD4 75%, #5C9ECF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9DC4E1), color-stop(0.5, #8FB7DB), color-stop(0.75, #75AAD4), color-stop(1, #5C9ECF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #9DC4E1 0%, #8FB7DB 50%, #75AAD4 75%, #5C9ECF 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #9DC4E1 0%, #8FB7DB 50%, #75AAD4 75%, #5C9ECF 100%);
}
.loader
{
	margin: 200px auto;
	width: 200px;
}
.main,.nav
{
	border:1px solid;
	border-color: transparent #E7E6E6;
}
.main
{
	background:#FFF;
	min-height:380px;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}
/***/
.dropdown
{
	width: auto;
}
.drop
{
	position: relative;
}
.drop a
{
	padding: 4px 15px 4px 4px;
	width: 100%;
}

.menu-user
{
	padding: 4px;
	text-transform: uppercase;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0.5em;
	-moz-border-radius-topleft:0.5em;
	border-top-left-radius:0.5em;
	-webkit-border-top-right-radius:0.5em;
	-moz-border-radius-topright:0.5em;
	border-top-right-radius:0.5em;
	-webkit-border-bottom-right-radius:0.5em;
	-moz-border-radius-bottomright:0.5em;
	border-bottom-right-radius:0.5em;
	-webkit-border-bottom-left-radius:0.5em;
	-moz-border-radius-bottomleft:0.5em;
	border-bottom-left-radius:0.5em;
	text-indent:0;
	border:1px solid #dcdcdc;
	
	color:#666666;

	font-size:14px;
	font-weight:bold;
	text-shadow:1px 1px 0px #ffffff;
}
.menu-user:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}

/* This button was generated using CSSButtonGenerator.com */
.arrow-down
{
	/*
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
    font-size: 0;
    line-height: 0;
    vertical-align: bottom;
    */
    width:0px;
    height:0px;
    border-style: solid;
    border-width: 9px;
    border-bottom-width:0px;
    border-color: black transparent transparent transparent;
    vertical-align: bottom;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top:2px;
}
/***/
.seccion-logo,.seccion-widget{
	display: block;
}
.seccion-logo
{
	padding:10px 0 0;
}
.seccion-logo img
{
	width: 213px;
	height: 70px;
}
.titulo-sistema
{
	color: #000;
	font-family:  Arial;
	font-size: 3.5em;
	margin: 0;
	text-shadow:2px 2px 1px white;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

/*
*sistema
*/
.buscador{
	border:solid 1px #000;
	border-radius:15px;
	margin:0 auto;
	width:600px;
}
.capital{
	text-transform: capitalize;
}

.correcto,.error{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-transform: uppercase;
	text-align: center;
}
.correcto{border: 2px solid #CCEBAC; background: #E0F2CB;}
.error{border: 2px solid #F5C69A; background-color: #FBD3B1;}
.retrasado{
	background-color: #b71c1c !important;
}
.links{
	color:#3C44ED;
	cursor:pointer;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
}
.links:hover{
	color:#030539;
}
.mayus{
	text-transform:uppercase;
}
.negritas{
	font-weight:bold;
}
.oculto{
	display: none !important;
}
.mprin
{
	font-variant: small-caps;
	/*mayusculas primero*/
}

.mdl-badge {
    margin-right: 15px;
    position: relative;
    white-space: normal;
}
.mdl-badge[data-badge]::after{
	right: -10px;
}

.mdl-menu__item>a{
	display: inline-block;
	width: 100%;
}

/*
*Colores para las cotizaciones
*/
.cotizacion-verde{
	background-color: #a5d6a7 !important;
}
.cotizacion-Amarillo{
	background-color: #fff59d !important;
}
.cotizacion-rojo{
	background-color: #ef9a9a !important;
}
/*
*sistema
*/
/*
*iconos
*/
.hand{cursor: pointer;}
.icono{background: url("spritesheet.png") no-repeat top left;}
.icono a {width: 24px; height: 24px;display: inline-block;}
/*.sistema{background-image:url(spritesheet.png);background-repeat:no-repeat;display:block}*/
.sistema-FaceBook{width:24px;height:24px;background-position:-2px -2px}
.sistema-FaceBook2{width:48px;height:48px;background-position:-30px -2px}
.sistema-Google{width:24px;height:24px;background-position:-82px -2px}
.sistema-Google2{width:48px;height:48px;background-position:-110px -2px}
.sistema-Twitter{width:24px;height:24px;background-position:-162px -2px}
.sistema-Twitter2{width:48px;height:48px;background-position:-190px -2px}
.sistema-adddesc{width:24px;height:24px;background-position:-2px -54px}
.sistema-agregar{width:24px;height:24px;background-position:-30px -54px}
.sistema-ayuda{width:24px;height:24px;background-position:-58px -54px}
.sistema-buscar{width:24px;height:24px;background-position:-86px -54px}
.sistema-camarillo{width:24px;height:24px;background-position:-114px -54px}
.sistema-cazul{width:24px;height:24px;background-position:-142px -54px}
.sistema-celullar{width:24px;height:24px;background-position:-170px -54px}
.sistema-cerrar{width:24px;height:24px;background-position:-198px -54px}
.sistema-cgris{width:24px;height:24px;background-position:-2px -82px}
.sistema-check{width:24px;height:24px;background-position:-30px -82px}
.sistema-cnaranja{width:24px;height:24px;background-position:-58px -82px}
.sistema-coins_add{width:24px;height:24px;background-position:-86px -82px}
.sistema-coins_delete{width:24px;height:24px;background-position:-114px -82px}
.sistema-computer{width:24px;height:24px;background-position:-142px -82px}
.sistema-credit{width:24px;height:24px;background-position:-170px -82px}
.sistema-crojo{width:24px;height:24px;background-position:-198px -82px}
.sistema-cverde{width:24px;height:24px;background-position:-2px -110px}
.sistema-deldesc{width:24px;height:24px;background-position:-30px -110px}
.sistema-dinero{width:24px;height:24px;background-position:-58px -110px}
.sistema-dollar{width:24px;height:24px;background-position:-86px -110px}
.sistema-draw_star{width:24px;height:24px;background-position:-114px -110px}
.sistema-editar{width:24px;height:24px;background-position:-142px -110px}
.sistema-editdesc{width:24px;height:24px;background-position:-170px -110px}
.sistema-eliminar{width:24px;height:24px;background-position:-198px -110px}
.sistema-email_go{width:24px;height:24px;background-position:-2px -138px}
.sistema-email_open{width:24px;height:24px;background-position:-30px -138px}
.sistema-equipos{width:24px;height:24px;background-position:-58px -138px}
.sistema-evento{width:24px;height:24px;background-position:-86px -138px}
.sistema-facebook-icon{width:30px;height:30px;background-position:-114px -138px}
.sistema-flag_yellow{width:24px;height:24px;background-position:-148px -138px}
.sistema-gplus-icon{width:30px;height:30px;background-position:-176px -138px}
.sistema-guardar{width:24px;height:24px;background-position:-210px -138px}
.sistema-hand_point{width:24px;height:24px;background-position:-2px -166px}
.sistema-imprimir{width:24px;height:24px;background-position:-30px -166px}
.sistema-info{width:24px;height:24px;background-position:-58px -166px}
.sistema-key{width:24px;height:24px;background-position:-86px -166px}
.sistema-like{width:24px;height:24px;background-position:-148px -166px}
.sistema-load{width:24px;height:24px;background-position:-210px -166px}
.sistema-mail{width:24px;height:24px;background-position:-2px -194px}
.sistema-medal_gold{width:24px;height:24px;background-position:-30px -194px}
.sistema-medal_gold_2{width:24px;height:24px;background-position:-58px -194px}
.sistema-medal_gold_3{width:24px;height:24px;background-position:-86px -194px}
.sistema-menu1{width:24px;height:24px;background-position:-114px -194px}
.sistema-menu2{width:24px;height:24px;background-position:-142px -194px}
.sistema-menu3{width:24px;height:24px;background-position:-170px -194px}
.sistema-msg{width:24px;height:24px;background-position:-198px -194px}
.sistema-password{width:24px;height:24px;background-position:-242px -2px}
.sistema-pdf{width:24px;height:24px;background-position:-242px -30px}
.sistema-permisos{width:24px;height:24px;background-position:-226px -58px}
.sistema-pin{width:24px;height:24px;background-position:-226px -86px}
.sistema-registro{width:24px;height:24px;background-position:-238px -114px}
.sistema-star_off{width:24px;height:24px;background-position:-238px -142px}
.sistema-star_on{width:24px;height:24px;background-position:-238px -170px}
.sistema-stop{width:24px;height:24px;background-position:-226px -198px}
.sistema-telefono{width:24px;height:24px;background-position:-2px -226px}
.sistema-twitter-icon{width:30px;height:30px;background-position:-30px -226px}
.sistema-users{width:24px;height:24px;background-position:-64px -226px}
.sistema-usuarios{width:24px;height:24px;background-position:-92px -226px}
.sistema-ver{width:24px;height:24px;background-position:-120px -226px}

.ui-autocomplete
{
	max-height: 150px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {height: 150px;}



/*
*iconos
*/

@media screen and (min-width:1180px)
{
	.wraper{
		margin: 0 auto;
		width: 99%;
		display: block;
	}
}
@media screen and (max-width:1179px)
{
	.wraper{
		margin: 0 auto;
		width: 99%;
		display: block;
	}
}
/*
@media screen and (min-width:1024px)
{
	.wraper{
		margin: 0 auto;
		width: 1024px;
		display: block;
		position: relative;
	}
}
*/