<!DOCTYPE html>
<html lang="es" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">

        <title>{{title}}</title>
        
        <link rel="shortcut icon" href="{{img}}plantilla/favicon.ico">
        <link rel="icon" href="{{img}}plantilla/favicon.ico">
        {{csslinks}}
        <link rel="stylesheet" type="text/css" href="{{path_abs}}source/css/default/{{jsoncss}}">
        <!--[if lt IE 9]>
            <script src="{path_abs}public/js/publico/html5shiv.js"></script>
        <![endif]-->
        <script type="text/javascript">
            var _url_ = "{{path_abs}}";
        </script>

        <script src="{{path_abs}}public/js/publico/prefixfree.min.js" type="text/javascript"></script>
        <script src="{{path_abs}}source/js/default/default.js" type="text/javascript"></script>
        {{jslinks}}
       
        <!--
        Desarrollado por: ISC. Angel Florentino Vargas Pool
        angelvargaspool@gmail.com
        Version 5.0.0
        -->
    </head>
    <body {{claseBody}}>
        <noscript><div id="nojs"><p>Para visitar nuestra página web es necesario tener Javascript habilitado en tu navegador. Disculpa las molestias.</p></div></noscript>
        <div class="cont-flex wraper" id="wrap">
            [tag name="menu_slide"]
            <div id="navside" class="menu-wrap">
                <div class="cont-flex sec_close_btn">
                    <div class="item-auto">
                        <button class="close-button" id="closebutton">Close Menu</button>
                    </div>
                </div>
                <ul class="collapsiblemenu">
                    {{newmenu}}           
                </ul>
            </div>
            [/tag name="menu_slide"]
            <div class="main item-12 cont-flex cont-column content-wrap">
                [tag name="bar_index"]
                    <div class="header-container item-auto item-dec-2 cont-flex">
                        <div class="seccion-logo item-12 cont-flex flex-no-wrap-sm">
                            <span class="item-12 item-sm-auto item-md-auto item-lg-auto">
                                <img src="{{img}}plantilla/logo-microged.png" alt="logo_microged" />
                            </span>
                            <span class="item-12 item-sm-5 item-md-7 item-lg-auto item-grow-1 titulo-sistema"> FRAME</span>
                        </div>
                        <div class="item-11">
                            <div id="hora"></div>
                        </div>
                    </div>
                [/tag name="bar_index"]
                    
                [tag name="bar_contenido"]
                    <div class="header-container item-auto item-dec-2 cont-flex">
                        <div class="item-12 cont-flex flex-no-wrap-lg">
                            <div class="item-auto item-center">
                                <button class="menu-button" id="openbutton">
                                    <i class="material-icons openbtn" id="openbtn">&#xE5C3;</i>
                                </button>
                            </div>
                            <div class="item-auto item-center">
                                <img src="{{img}}plantilla/logo-microged.png" width="121" height="40" alt="Microged" title="microged">
                            </div>
                            <div class="item-lg-2 item-md-8 item-sm-auto item-xsm-6 item-6 item-center">
                                <div id="hora"></div>
                            </div>
                            <div class="item-lg-auto item-md-4 item-sm-6 item-xsm-12 item-12 item-grow-1 item-center" id="ordnotification">
                                {{notificacion_ordenes}}
                            </div>
                            <div class="item-lg-auto item-md-4 item-sm-6 item-xsm-12 item-12 item-grow-1 item-center" id="cotnotification">
                                {{notificacion_cotizador}}
                            </div>

                            <div class="item-auto item-center">
                                <button id="menu_user" class="mdl-color-text--white mdl-button mdl-js-button mdl-js-ripple-effect">
                                    <div class="cont-flex flex-no-wrap">
                                        <div class="item-auto">
                                            <i class="material-icons imgcount">account_circle</i>
                                        </div>
                                        <div class="item-2 item-grow-1">
                                            <span>{{nombre_user}}</span>
                                        </div>
                                        <div class="item-auto">
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </div>
                                    </div>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu_user">
                                    <li class="mdl-menu__item">
                                        <a href="{{path_abs}}usuarios/perfil/">Modificar Perfil</a>
                                    </li>
                                    <li class="mdl-menu__item">
                                        <a href="{{path_abs}}usuarios/password/">Modificar Password</a>
                                    </li>
                                    <hr>
                                    [tag name="lstanuncios"]
                                    <li class="mdl-menu__item">
                                        <a href="{{path_abs}}anuncios/lstanuncios/">Anuncios</a>
                                    </li>
                                    [/tag name="lstanuncios"]
                                    <li class="mdl-menu__item">
                                        <a href="{{path_abs}}ayuda/documentacion/">
                                        <img src="{{img}}iconosmenu/img9.png" alt="documentacion" width="18" height="18" /><span>Ayuda</span></a>
                                    </li>
                                    <hr>
                                    <li class="mdl-menu__item">
                                        <a href="{{path_abs}}principal/cerrar/">Salir</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-12 cont-flex flex-no-wrap-lg">
                            <div class="item-2"></div>
                            <div class="item-8" id="title_module">{{title}}</div>
                            <div class="item-2"></div>
                        </div>
                    </div>
                [/tag name="bar_contenido"]
                <div class="main-container item-auto item-grow-2">
                    <div id="accesos">
                        {{accesos}}
                    </div>
                    <div id="content">
                        <div class="contenido">
                        {{contenido}}
                        </div>
                    </div>
                </div>
                <div class="footer-container item-auto">
                    <footer class="footer"></footer>
                </div>
            </div>
        </div>
        [tag name="js_menu"]
        <script src="{{path_abs}}public/js/publico/menu/classie.js"></script>
        <script src="{{path_abs}}public/js/publico/menu/main.js"></script>
        [/tag name="js_menu"]
    </body>
</html>