<div id="frmrol" title="Rol">
	<form id="formrol">
	
		<div>
			<div class="fila">
				<label class="etiqueta wfull">Nombre</label>
				<input type="text" id="nombre" name="nombre" class="validate[required] text-input inputtext sinmayusculas" value="{{rol}}">
			</div>
			<div class="fila">
				<label class="etiqueta wfull">Categoria</label>
				<select id="categoria" name="categoria" class="validate[required]">
					{{lstcategoria}}
				</select>
			</div>
			<div class="fila">
				<label class="etiqueta wfull">Imagen</label>
				<input type="file" class="file" id="imgfile" name="imgfile">
			</div>
		</div>
	</form>
</div>