<div id="frmmod" title="Modulo">
	<form id="formmod" name="formmod">
		<div class="fila">
			<label class="etiqueta wfull">Nombre</label>
			<input type="text" id="nombrem" name="nombrem" class="validate[required] text-input">
		</div>
		<div class="fila">
			<label class="etiqueta wfull">Key</label>
			<input type="text" id="keym" name="keym" class="validate[required] text-input">
		</div>
		<div class="fila">
			<label class="etiqueta full">Aplicación</label>
			<select class="validate[required]" id="menuapp" name="menuapp">
				{{apps}}
			</select>
		</div>
		<div class="fila">
			<label class="etiqueta full">Imagen</label>
			<input type="file" class="file" id="imgfile" name="imgfile">
		</div>
	</form>
</div>
