@import url(https://fonts.googleapis.com/css?family=Roboto);
.data{
	padding: 0;
}
.datasocial{
	width: 30%;
	border: 1px solid #000;
	padding: 5px;
	font-family: Roboto, 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	/*background-color: rgb(247,247,247);*/
	background-color: #F7F7F7;
	border-radius: 5px;
}
.datasocial figure{
	padding: 0;
	margin: 0;
	width: 100px;
	height: 100px;
}
.datasocial figure img{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #5cb85c;
	width: 100px;
	height: 100px;
}
.datasocial .links{
	text-transform: none;
	font-size: 16px;
}
.datasocial .title{
	font-weight: bold;
}