@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("MaterialIcons-Regular.eot"); /* IE9 Compat Modes */
  src: url("MaterialIcons-Regular.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("MaterialIcons-Regular.woff2") format('woff2'), /* Super Modern Browsers */
       url("MaterialIcons-Regular.woff") format('woff'), /* Pretty Modern Browsers */
       url("MaterialIcons-Regular.ttf")  format('truetype'), /* Safari, Android, iOS */
       url("MaterialIcons-Regular.svg#svgFontName") format('svg'); /* Legacy iOS */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-15 { font-size: 15px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.orange600 { color: #FB8C00; }
.material-icons.orange500 { color: #FF9800; }
.material-icons.red500{color: #F44336;}
.material-icons.indigo500{color:#3F51B5;}
.material-icons.green500{color: #4CAF50;}
.material-icons.yellow500{color:#FFFF8D;}
.material-icons.grey500{color: #9E9E9E}
.material-icons.brown500{color: #795548}
.material-icons.purple500{color: #9c27b0}
.material-icons.bluegrey{color: #607d8b}
.material-icons.deeppurplea100{color: #B388FF}
.material-icons.pink500{color:#E91E63;}

.link_btn{
  cursor:pointer;
  opacity: 0.7;
}
.link_btn:hover {
  opacity: 1;
}