<div id="wrap_detalle">
	<div id="contenido_detalle">
		<div id="tituloCentro">
			<p class="negritas" id="microged">M I C R O G E D</p>
			<p>Calle 26 Nº. 160-B Int. 01 X 37-A y 37 Col. Santa Ana</p>
			<p>Valladolid, Yucatan C.P. 97782</p>
			<p>MAEL78022E44</p>
			<p>Tel.: (985)8563929, FAX: (985)8561913</p>
		</div>
		<br/>
		<!--Cuerpo del detalle de la orden-->
		<div id="cuerpoDetalle">
			{{orden_detalle}}
			{{detalle_servicios}}
			{{imprimir_equipo}}
			{{detalle_diagnostico}}
			{{detalle_garantia}}
			<div class="clear"></div>
		</div>
		<!--Fin cuerpo detalle-->
		<div class="clear"></div>
	</div>
</div>
<div class="no_print" id="botones">
<input type="button" value="Volver" class="clean-gray" onclick="history.back(-1);" />
<!--<input type="button"  value="Volver" onclick="javascript: window.location='{ubicacion}'" class="boton"  />-->
</div>