<div style="background:#ECECEC; border-radius:4px;border:1px #dceaf5 solid; padding:0;width:100%!important;margin:0">
	<center>
		<table align="center" cellspacing="0" style="border-radius:4px;border:1px #dceaf5 solid">
			<tbody style="color:#444444;border-collapse:collapse;font-size:11pt;font-family:proxima_nova,'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';background-color: #FFF;" >
				<tr>
					<td width="454">
						<div style="padding: 10px 15px 0;">
							<div style="width: 33%;display:inline-block;text-align: left;"></div>
							<div style="width: 33%;display:inline-block;">
								<img src="{{img}}plantilla/LogoMicroged.jpg" width=160 height=85 alt="Microged" title="Microged">
							</div>
							<div style="width: 33%;display:inline-block;text-align: right;"></div>
						</div>
					</td>
				</tr>

				<tr>
					<td width="454">
						<div style="padding: 0 15px;">{{msg}}</div>
					</td>
				</tr>
				<tr>
					<td width="454">
					</td>
				</tr>
			</tbody>
		</table>
	</center>
</div>