<h2>Garantias</h2>
<form id="frm_orden" name="frm_orden" method="post" action="{{url}}">
<fieldset>
	<legend>Registro De Garantia</legend>
	<div class="fila">
    	<div class="columna small">
        	<label class="etiqueta">Autorizó:</label>
        	<input  type="text" class="inputtext" id="autorizo" name="autorizo" disabled="disabled" value="{autorizo}" />
        </div>
        <div class="columna small">
        	<label class="etiqueta">Cliente:</label>
        	<input type="text" class="inputtext" id="clit" name="clit" disabled="disabled" value="{cliente}" />
        </div>
        <div class="columna small"><!--invisible para los recepcioistas de equipos-->
            <label class="etiqueta">Tecnico:</label>
            <select class="opciones" id="tec" name="tec">
                {{tecnicos}}
            </select>
        </div>
        <input type="hidden" name="ncliente" id="ncliente" value="{{ncliente}}" />
        <input type="hidden" name="nadmin" id="nadmin" value="{{nadmin}}" />
    </div>
    <div class="fila">
    	<div class="columna">
        	<label class="etiqueta">Descripcion:</label>
            <textarea class="validate[required] areas_texto mayus" id="desc" name="desc"></textarea>
        </div>
    </div>
    <div class="fila">
        <div class="columna">
        	<label class="etiqueta">Fecha Promesa:</label>
            <input type="text" class="validate[required] inputtext" id="fecha3" name="fecha3" readonly="readonly" />
        </div>
    </div>
    
    <div class="fila">
    	<div class="columna small">
        	<label class="etiqueta">Tipo:</label>
            <select class="validate[required] opciones" id="tip" name="tip">
                <option value="1">Laboratorio</option>
                <option value="2">Externo</option>
                <option value="3">Programacion</option>
                <option value="4">Administracion</option>
            </select>
        </div>
        <div class="columna small">
        	<label class="etiqueta">Estatus:</label>
            <select class="validate[required] opciones" id="est" name="est">
                <option value="1" {{est1}}>Recepcion</option>
                <option value="2" {{est2}}>Asignado</option>
            </select>
        </div>
        <div class="columna small">
            <label class="etiqueta small">Contrato:</label>
            <select class="validate[required] opciones large" id="contrato" name="contrato">
                <option value="1" {{cont1}} >Sin Contrato</option>
                <option value="2" {{cont2}} >Contrato</option>
            </select>
        </div> 
    </div>
    <div class="fila">
    	<div class="columna">
        	<input type="submit" value="Modificar" class="boton" name="registro" id="registro" />
            <input type="button" value="Cancelar" class="clean-gray" onclick="history.back(-1);" />
        </div>
    </div>  
</fieldset>
</form>
<script type="text/javascript">
    $(function(){
      var now = new Date();

      $('#fecha3').mobiscroll().datetime({
          minDate: new Date(now.getFullYear(), now.getMonth(), now.getDate()),
          //maxDate: new Date(now.getFullYear()+5, now.getMonth(), now.getDate()),
          theme: 'android-ics',
          lang: 'es',
          display: 'modal',
          animate: 'slidevertical',
          mode: 'mixed',
          dateFormat:'yy-mm-dd',
          timeFormat:'HH:ii:ss',
          timeWheels:'hhiiA',
          dateOrder: 'Mddyy'
      });
    });
</script>