<br>
<form id="frm_orden" name="frm_orden" data-cliente="{{id_cliente}}" data-orden="{{idorden}}" data-garantia="{{gar}}" data-ordg="{{ordg}}" data-tecnico="{{tecnico}}" data-estatus="{{estatus}}" data-fasig="{{fecasig}}" data-autorizo="{{autorizo}}" class="cont-flex">
	<fieldset class="item-12">
		<legend>{{titulo_frmorden}}</legend>
		<div id="msgorden">{{msgorden}}</div>
		<div class="cont-flex" id="secbotones">
			<div class="cont-flex item-12">
				<div class="item-auto-m obj-menu-orden">
					<ul class="menu-drop">
						<li>
							<i class="material-icons hand md-30">view_list</i>
							<ul>
								<li><a href="javascript:void(0)" class="links addmarca">Agregar Nueva Marca</a></li>
								<li><a href="javascript:void(0)" class="links addapli">Agregar Nueva Aplicacion</a></li>
								<li><a href="javascript:void(0)" class="links addcaract">Agregar Nuevo Tipo De Caracteristica</a></li>
								<li><a href="javascript:void(0)" class="links addtipoequi">Agregar Nuevo Tipo De Equipo</a></li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="cont-flex item-auto-m">
					<div class="item-12 cont-flex">
					[tag name="seccion_add_orden"]
						<input type="button" value="Registrar" class="btnacceso item-auto-m saveorden" name="registro" id="registro" />
					[/tag name="seccion_add_orden"]
					[tag name="mod_orden"]
						<input type="button" value="Modificar Orden" name="registro" class="registro item-auto-m btnacceso" />
					[/tag name="mod_orden"]
						{{botonesextras}}
						<input type="button" value="Salir" onclick="history.back(-1);" class="item-auto-m btnacceso"/>
					</div>
				</div> 

			</div>
		</div>
		[tag name="seccion_usuario"]
		<div id="seccion_usuario"></div>
		[/tag name="seccion_usuario"]
		[tag name="seccion_datos_orden"]
		<div id="datos_orden" class="infouser cont-flex items-start">
			<div class="item-4 cont-flex items-start">
				<div class="item-12 cont-flex">
					<span class="item-12">Folio :</span>
					<span class="item-12">{{idorden}}</span>
				</div>
				<div class="item-12 cont-flex">
					<span class="item-12">Registró :</span>
					<span class="item-12">{{autorizo}}</span>
				</div>
			</div>
			<div class="item-3 cont-flex items-start">
				<div class="item-12 cont-flex">
					<span class="item-12">Fecha Registro:</span>
					<span class="item-12">{{recepcion}}</span>
				</div>
				<div class="item-12 cont-flex">
					<span class="item-12">Estado de la orden :</span>
					<span class="item-12">{{estatusn}}</span>
				</div>
			</div>
			<div class="item-5 cont-flex">
				<div class="item-12 cont-flex">
					<span class="item-12">Cliente :</span>
					<span class="item-11">{{cliente}}</span>
					[tag name="edit_cliente"]
					<div class="item-1">
						<a class="hand" id="edit_cliente">
							<i class="material-icons">edit</i>
						</a>
					</div>
					[/tag name="edit_cliente"]
				</div>
			</div>
		</div>
		[/tag name="seccion_datos_orden"]
		<div class="cont-flex items-start">
			[tag name="seccion_usuario"]
			<div class="item-4 cont-flex">
				<label class="label item-12">Clientes:</label>
				<input type="text" id="lstclie" class="item-11"/>
				[tag name="addcliesec"]
				<div class="item-1 hand" id="addcliente">
					<i class="material-icons">add_circle</i>
				</div>
				[/tag name="addcliesec"]
			</div>
			[/tag name="seccion_usuario"]
			<div class="item-4 cont-flex">
				<label class="label item-12">Problema:</label>
				<textarea class="item-12 validate[required]" id="desc" name="desc">{{descripcion}}</textarea>
			</div>
			<div class="item-4 cont-flex">
				<label class="label item-12">Observaciones Del equipo:</label>
				<textarea class="item-12" id="obse" name="obse">{{observaciones}}</textarea>
			</div>
		</div>
		
		<div class="cont-flex">
			<div class="item-3 cont-flex">
				<label class="label item-12">Tipo:</label>
				<select class="validate[required] item-12" id="tip" name="tip">
					{{tservicio}}
				</select>
			</div>
			<div class="item-3 cont-flex">
				<label class="label item-12">Contrato :</label>
				<select class="validate[required] item-12" id="contrato" name="contrato">
					{{optcontrato}}
				</select>
			</div>
			<div class="item-3 cont-flex">
				<label class="label item-12">Fecha Promesa:</label>
				<input type="text" class="validate[required] text-input item-12" id="fechpro" name="fechpro" readonly="readonly" value="{{fecha_promesa}}"/>
			</div>
			[tag name="seccion_edit_orden"]
			<div class="item-3 cont-flex">
				<label class="label item-12">Tiempo Efectivo:</label>
				<input type="text" class="inputtext item-12" id="tiempo" name="tiempo" value="{{tiempo}}" />
			</div>
			[/tag name="seccion_edit_orden"]
		</div>
	</fieldset>
	<!--Tecnico-->
	[tag name="sec_tecnico_addorden"]
	<fieldset class="item-4">
		<legend class="legenda">Tecnicos</legend>
		<div class="" id="msgtec"></div>
		<div class="" id="tecnicos">{{tecnicos_datas}}</div>
		<div class="cont-flex" id="secciontecnicos">
			[tag name="sec_tecnico"]
			<div class="item-9 cont-flex">
				<label class="label item-12">Tecnico:</label>
				<select class="item-11" id="tec" name="tec">
					{{lsttecnicos}}
				</select>
				<div class="item-1 hand" id="agrtec">
					<i class="material-icons">add_box</i>
				</div>
			</div>
			[/tag name="sec_tecnico"]
		</div>
	</fieldset>
	[/tag name="sec_tecnico_addorden"]
	
	<!--Clasificaciones-->
	[tag name="sec_clasi_addorden"]
	<fieldset class="item-4">
		<legend class="legenda">Clasificaciones</legend>
		<div id="msgcla"></div>
		<div id="clasificacionorden">{{clasificaciones_data}}</div>
		[tag name="sec_clasificacion"]
		<div class="cont-flex" id="frmclas">
			<label class="item-12 label">Clasificación</label>
			<select id="clasificacion" name="clasificacion" class="item-12">{{lstclasificaciones}}</select>
			<!--<input type="text" name="clasificacion" id="clasificacion" class="inputtext"/>-->
		</div>
		[/tag name="sec_clasificacion"]
	</fieldset>
	[/tag name="sec_clasi_addorden"]

	<!--Servicios-->
	[tag name="sec_servicio_addorden"]
	<fieldset class="item-4">
		<legend class="legenda">Servicios</legend>
		<div class="fila" id="msgserv"></div>
		<div class="fila" id="serviciosorden">{{servicios_data}}</div>
		[tag name="sec_servicio"]
		<div class="cont-flex" id="frmServicio">
			<label class="label item-12">Servicio</label>
			<input type="text" name="txtservicio" id="txtservicio" class="item-12"/>
		</div>
		[/tag name="sec_servicio"]
	</fieldset>
	[/tag name="sec_servicio_addorden"]
	<!--Servicios-->

	<!--Citas-->
	[tag name="sec_servicio_citas"]
	<fieldset class="item-6">
		<div id="msg_eve"></div>
		<legend class="legenda">Citas de la orden</legend>
		<div class="cont-flex">
			<input type="button" value="Agregar Cita" class="item-auto-m btnacceso" id="addcita"/>
		</div>
		<div id="citas" class="cont-flex">{{citas}}</div>
	</fieldset>
	[/tag name="sec_servicio_citas"]

	<!--Diagnosticos-->
	[tag name="sec_diag"]
	<fieldset class="item-12">
		<legend class="legenda">Diagnosticos</legend>
		<div id="msndiag"></div>
		<div class="fila" id="diagnosticos">
			{{diagnosticos}}
		</div>
		[tag name="btnadddiag"]
		<div class="fila">
			<a class="btnext hand" id="agrdiag">Agregar Diagnostico</a>
		</div>
		[/tag name="btnadddiag"]
	</fieldset>
	[/tag name="sec_diag"]

	[tag name="seccion_add_orden"]
	<!--Equipos-->
	<fieldset>
		<legend class="legenda">Equipos</legend>
		<div class="fila">
			<a class="btnext hand" id="agrequipo">Agregar Equipo:</a>
		</div>
		<div class="fila" id="msgequipo"></div>
		<div class="fila" id="lstequipos"></div>
	</fieldset>
	<!--Equipos-->
	[/tag name="seccion_add_orden"]

	[tag name="seccion_edit_orden"]
	<fieldset>
		<legend class="legenda">Equipos</legend>
		<div id="msgequipo"></div>
		<div id="equiposorden" class="fila">{{equipos}}</div>
	</fieldset>
	
	<fieldset>
		<legend class="legenda">Fotografias</legend>
		<div id="msg_img"></div>
		<div class="fila">
			<p><input id="filesupload" type="file" multiple></p>
		</div>

		<div id="drop-area">
			<span class="drop-instructions">Arrastrar y Soltar Imagenes Aquí</span>
			<span class="drop-over">¡Soltar Archivos Aquí!</span>
		</div>
		<div id="file-list">{{lstimagenesorden}}</div>
	</fieldset>
	{{fichaOrden}}
	<fieldset>
		<legend class="legenda">Lista De Procesos</legend>
		{{lstest}}
	</fieldset>
	[/tag name="seccion_edit_orden"]
	<hr>
	<hr>
	<hr>
	<!--Botones-->
	<div class="cont-flex item-12">
		<div class="item-12 cont-flex">
		[tag name="seccion_add_orden"]
			<input type="button" value="Registrar" class="btnacceso item-auto-m saveorden" name="registro" id="registro" />
		[/tag name="seccion_add_orden"]
		[tag name="mod_orden"]
			<input type="button" value="Modificar Orden" name="registro" class="registro item-auto-m btnacceso" />
		[/tag name="mod_orden"]
			{{botonesextras}}
			<input type="button" value="Salir" onclick="history.back(-1);" class="item-auto-m btnacceso"/>
		</div>
	</div> 
	<!--Botones-->
</form>
[tag name="seccion_edit_orden"]
<!--Formulario Para Diagnosticos-->
<div id="sec_diag" title="Diagnostico">
	<form id="frmDiagnostico" name="frmDiagnostico" class="formclass">
		<div class="cont-flex">
			<label class="label item-12">Diagnostico:</label>
			<textarea class="item-12" id="diag" name="diag"></textarea>
		</div>
	</form>
</div>
[/tag name="seccion_edit_orden"]
<!--Formulario Para cancelar-->
<div id="sec_cancel" title="Cancelacion">
	<form id="form_cancel" name="form_cancel" class="formclass">
		<div class="cont-flex">
			<label class="label item-12">Razon de Cancelación:</label>
			<textarea class="item-12" id="descan" name="descan">{{cancelacion}}</textarea>
		</div>
	</form>
</div>

<!--Formulario Para agregar equipos-->
<div id="sec_equipo" title="Formulario Equipos">
	<div id="msge"></div>
	<form id="form_equipo" name="form_equipo" class="formclass cont-flex">
		<div class="cont-flex item-6">
			<label class="label item-12 requerido">tipo:</label>
			<select id="tipoe" name="tipoe" class="validate[required] item-12">
				{{tipos_equipos}}
			</select>
		</div>
		<div class="cont-flex item-6">
			<label class="label item-12 requerido">Marca:</label>
			<select class="validate[required] item-12" id="marcae" name="marcae" >
				{{lista_marcas}}
			</select>
		</div>
		<div class="cont-flex item-6">
			<label class="label item-12">Modelo:</label>
			<input type="text"  id="modelo" name="modelo" class="item-12" />
		</div>
		<div class="cont-flex item-6">
			<label class="label item-12">Serie:</label>
			<input type="text" id="serie" name="serie" class="item-12"/>
		</div>
		<div class="cont-flex item-12">
			<label class="label item-12">Descripcion:</label>
			<textarea class="item-12" id="descripcion" name="descripcion"></textarea>
		</div>
		<div class="cont-flex item-12">
			<label class="label item-12">Comentarios:</label>
			<textarea class="item-12" id="comentarios" name="comentarios"></textarea>
		</div>
	</form>
</div>

<!--Formulario de citas-->
<div id="sec_evento" title="Evento">
	<form id="frmevento" name="frmevento" class="formclass">
		<div class="cont-flex">
			<div class="cont-flex item-6">
				<label class="label item-12">Nombre de evento :</label>
				<input type="text" name="name_evento" id="name_evento" class="validate[required] text-input item-12">
			</div>
			<div class="cont-flex item-6">
				<label class="label item-12">Fecha inicio :</label>
				<input type="text" name="fecha_inicio_ev" id="fecha_inicio_ev" class="validate[required] text-input item-12">
			</div>
			<div class="cont-flex item-6">
				<label class="label item-12">Fecha Fin :</label>
				<input type="text" name="fecha_fin_ev" id="fecha_fin_ev" class="validate[required] text-input item-12">
			</div>
			<div class="cont-flex item-12">
				<label class="label item-12">Descripcion:</label>
				<textarea class="validate[required] item-12" name="descripcion_ev" id="descripcion_ev"></textarea>
			</div>
		</div>
	</form>
</div>

<!--Seccion de caracteristicas-->
<div id="seccaract" title="Caracteristicas">
	<form id="frmCaracteristica" name="frmCaracteristica" class="formclass">
		<div class="cont-flex">
			<label class="label item-12 requerido">Caracteristica:</label>
			<select id="caract" name="caract" class="validate[required] item-12">{{lstcaracteristicas}}</select>
		</div>
		<div class="cont-flex">
			<label class="label item-12 requerido">Valor:</label>
			<input type="text" class="validate[required] item-12" id="valor" name="valor"/>
		</div>
	</form>
</div>

<!--Seccion De Direcciones De red-->
<div id="sec_red" title="Dirección De Red">
	<form id="frmred" name="frmred" class="formclass">
		<div class="cont-flex">
			<label class="label item-12 requerido">IP:</label>
			<input type="text" class="validate[required] text-input item-12" id="ip" name="ip"/>
		</div>
		<div class="cont-flex">
			<label class="label item-12 requerido">Mac Address:</label>
			<input type="text" class="validate[required] item-12" id="mac" name="mac"/>
		</div>
		<div class="cont-flex">
			<label class="label item-12 requerido">Subred:</label>
			<input type="text" class="validate[custom[ipv4]] text-input item-12" id="subred" name="subred"/>
		</div>
		<div class="cont-flex">
			<label class="label item-12 requerido">Gateway:</label>
			<input type="text" class="validate[custom[ipv4]] text-input item-12" id="gateway" name="gateway"/>
		</div>
		<div class="cont-flex">
			<label class="label item-12 requerido">Hostname:</label>
			<input type="text" class="validate[required] item-12" id="hostname" name="hostname"/>
		</div>
		<div class="cont-flex">
			<label class="label item-12 requerido">Puertos:</label>
			<input type="text" class="validate[required] item-12" id="puertos" name="puertos"/>
		</div>
		<div class="cont-flex">
			<label class="label item-12 requerido">DNS:</label>
			<input type="text" class="validate[required] item-12" id="dns" name="dns"/>
		</div>
	</form>
</div>
<!--Seccion De Aplicaciones-->
<div id="sec_aplic" title="Aplicaciones">
	<form id="frmaplicacion" name="frmaplicacion" class="formclass">
		<div class="cont-flex">
			<label class="label item-12 requerido">Aplicaciones :</label>
			<select id="aplicacion" name="aplicacion" class="validate[required] item-12">{{lstaplicaciones}}</select>
		</div>
	</form>
</div>
<!--Seccion De Cuentas-->
<div id="sec_cuenta" title="Cuenta">
	<form id="frmcuenta" name="frmcuenta" class="formclass">
		<div class="cont-flex">
			<label class="label item-12 requerido">Usuario:</label>
			<input type="text" class="validate[required] text-input item-12" id="user" name="user"/>
		</div>
		<div class="cont-flex">
			<label class="label item-12 requerido">Contraseña:</label>
			<input type="text" class="validate[required] text-input item-12" id="paswrd" name="paswrd"/>
		</div>
	</form>
</div>
<!---->
<!---->
<!---->
<!--Seccion De Agregar Marcas de equipos-->
<div id="sec_marca" title="Nueva Marca De Equipos">
	<form id="frmmarca" name="frmmarca" class="formclass">
		<div class="cont-flex">
			<label class="label item-12 requerido">Marca :</label>
			<input type="text" id="namemarca" name="namemarca" class="validate[required] text-input item-12"/>
		</div>
	</form>
</div>
<!--Seccion De Agregar Aplicaciones de equipos-->
<div id="sec_aplicaciones" title="Nueva Aplicacion De Equipo">
	<form id="frmapli" name="frmapli" class="formclass">
		<div class="cont-flex">
			<label class="label item-12 requerido">Aplicación :</label>
			<input type="text" id="nameaplicacion" name="nameaplicacion" class="validate[required] text-input item-12"/>
		</div>
		<div class="cont-flex">
			<label class="label item-12">Version:</label>
			<input type="text" id="version" name="version" class="item-12"/>
		</div>
	</form>
</div>
<!--Seccion De Agregar Tipo de equipos-->
<div id="sec_caracte" title="Nuevo Tipo De Caracteristica De Equipo">
	<form id="frmcaracte" name="frmcaracte" class="formclass">
		<div class="cont-flex">
			<label class="label item-12 requerido">Caracteristica :</label>
			<input type="text" id="namecaract" name="namecaract" class="validate[required] text-input item-12"/>
		</div>
	</form>
</div>
<!--Seccion De Agregar Tipo de equipos-->
<div id="sec_tipos" title="Nuevo Tipos De Equipo">
	<form id="frmtipose" name="frmtipose" class="formclass">
		<div class="cont-flex">
			<label class="label item-12 requerido">Tipo De Equipo :</label>
			<input type="text" id="nametipoe" name="nametipoe" class="validate[required] text-input item-12"/>
		</div>
	</form>
</div>
[tag name="seccion_add_orden"]
<!--Seccion para agregar cliente-->
<div id="sec_cliente" title="Nuevo Cliente">
	<form id="frmcliente" name="frmcliente" class="formclass">
		<div class="cont-flex">
			<label class="label item-12 requerido">Nombre :</label>
			<input type="text" id="nombre_cliente" name="nombre_cliente" class="validate[required] text-input item-12"/>
		</div>
		<div class="cont-flex">
			<label class="label item-12">Telefono :</label>
			<input type="text" id="telefono_cliente" name="telefono_cliente" class="item-12"/>
		</div>
		<div class="cont-flex">
			<label class="label item-12">Grupo :</label>
			<select id="grupo" name="grupo" class="validate[required] item-12">{{lstgrupos}}</select>
		</div>
		<div class="cont-flex">
			<label class="label item-12">Perfil :</label>
			<select id="perfil" name="perfil" class="validate[required] item-12">{{lstperfiles}}</select>
		</div>
		<div class="cont-flex">
			<label class="label item-12">Empresa :</label>
			<select id="empresa_user" name="empresa_user"  class="item-12">{{lstempresasuser}}</select>
		</div>
	</form>
</div>
[/tag name="seccion_add_orden"]
<!--Seccion para modificar cliente de una orden, solo cuentas del mismo usuario-->
[tag name="seccion_edit_orden"]
<div id="sec_change_clie">
	 <form id="frmcliente" name="frmcliente" class="formclass">
		<div class="cont-flex">
			<label class="item-12 requerido">Cliente</label>
			<select class="item-12" id="users_clie" name="users_clie">{{usuarios_cliente}}</select>
		</div>
	 </form>
</div>
[/tag name="seccion_edit_orden"]