<div class="fila" id="sec_clas" title="Clasificación">
    <form id="frmclas" name="frmclas">
        <div class="fila">
            <label class="etiqueta wfull">Clasificación :</label>
            <input type="text" id="clasificacion" name="clasificacion" class="validate[required] text-input"/>
        </div>
    </form>
</div>