<div id="seccion_neworden" title="Nueva Orden">
	<form id="frmneworden" name="frmneworden" class="formclass">
		<div class="cont-flex flex-jcenter">
			<div class="item-12 cont-flex">
				<label class="label item-12 requerido" for="cliente">Cliente:</label>
				<select class="validate[required] item-input" id="ord_cliente" name="ord_cliente">{{lstclientes}}</select>
			</div>
			<div class="item-12 cont-flex">
				<label class="label item-12 requerido" for="cliente">tipo:</label>
				<select class="validate[required] item-12" id="ord_tipo" name="ord_tipo">{{lsttipos}}</select>
			</div>
			<div class="item-12 cont-flex">
				<label class="label item-12 requerido" for="cliente">Contrato:</label>
				<select class="validate[required] item-12" id="ord_contrato" name="ord_contrato">{{lstcontrato}}</select>
			</div>
			<div class="item-12 cont-flex">
				<label class="label item-12" for="cliente">Tecnico:</label>
				<select class="item-input" id="ord_tecnico" name="ord_tecnico">{{lsttecnicos}}</select>
			</div>
			<div class="item-12 cont-flex">
				<label class="label item-12 requerido" for="cliente">Fecha Promesa:</label>
				<input type="text" name="ord_promesa" id="ord_promesa" class="validate[required] item-12">
			</div>
			<div class="item-12 cont-flex">
				<label class="label item-12 requerido" for="problema">Problema</label>
				<textarea class="validate[required] item-12" id="ord_problema" name="ord_problema"></textarea>
			</div>
		</div>
	</form>
</div>
