<div class="fila" id="sec_ficha_pago" title="Orden(es) Pagadas">
    <form id="frmpagado" name="frmpagado" class="formclass">
    	<div class="cont-flex">
    		<div class="item-12 cont-flex">
	            <label class="label item-12">Fecha :</label>
	            <input type="text" id="fecha_pago" name="fecha_pago" class="validate[required] text-input item-12"/>
	        </div>
	        <div class="item-12 cont-flex">
	            <label class="label item-12">Ficha :</label>
	            <input type="text" id="ficha_pago" name="ficha_pago" class="validate[required] text-input item-12"/>
	        </div>
    	</div>
    </form>
</div>