<div class="grupo equipo">
	{{checkbox}}
	<div class="datos">
		<div class="obj obj-info">
			<div class="print icono sistema-info links">
				<a href="{{path_abs}}orden/detallesequipo/{{idequipo}}/" rel="http://127.0.0.1/scsmic/orden/detallesequipo/{{idequipo}}/" title="Detalle Equipo" class="info"></a>
			</div>
		</div>
		<div class="obj obj-menu">
			<ul class="menu-drop">
				<li>
					<span>
						<span class="edit icono sistema-menu3 links"></span>
					</span>
					<ul>
						{{extra_menu}}
						<li><a href="javascript:void(0)" class="links editequipo" data-id="{{idequipo}}" >Modificar Equipo</a></li>
						<li><a href="javascript:void(0)" class="links caract" data-id="{{idequipo}}" >Caracteristicas</a></li>
						<li><a href="javascript:void(0)" class="links redes" data-id="{{idequipo}}" >Direcciones De Red</a></li>
						<li><a href="javascript:void(0)" class="links apli" data-id="{{idequipo}}" >Aplicaciones</a></li>
						<li><a href="javascript:void(0)" class="links cuentas" data-id="{{idequipo}}" >Cuentas</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<span class="datos">
		<span class="obj tipo">Tipo</span>
		<span class="obj valor">{{tipo}}</span>
	</span>
	<span class="datos">
		<span class="obj tipo">Marca</span>
		<span class="obj valor">{{marca}}</span>
	</span>
	<span class="datos">
		<span class="obj tipo">Modelo</span>
		<span class="obj valor">{{modelo}}</span>
	</span>
	<span class="datos">
		<span class="obj tipo">N° De Serie</span>
		<span class="obj valor">{{serie}}</span>
	</span>
</div>