<div id="tituloCentro">MICROGED</div>
<div id="base">

	<div class="cabecera">
		<div id="sec1">
			<div class="columna sec1">
				<div>
					<p class="negritas" id="microged">M I C R O G E D</p>
					<p>Calle 26 Nº. 160-B Int. 01 X 37-A y 37 Col. Santa Ana</p>
					<p>Valladolid, Yucatan C.P. 97782</p>
					<p>Whatsapp : 9858084837</p>
					<p>Tel.: (985)8563929</p>
				</div>
			</div>
			<div class="columna sec2">
				<div>
					<div class="label_desc">Fecha Finalizado: </div>
					<div>{{fecha_finalizado}}</div>
				</div>
				
				<div>
					<div class="label_desc">Fecha Entrega: </div>
					<div>{{fecha_entrega}}</div>
				</div>

				<div>
					<div class="negritas fila">Tipo: </div>
					<div class="fila">{{tipo}}</div>
				</div>
			</div>
			<div class="columna sec3">
				<div>
					<div class="label_desc">Fecha: </div>
					<div>{{fecha_recep}}</div>
				</div>

				<div>
					<div class="label_desc">Fecha Promesa: </div>
					<div>{{fecha_prom}}</div>
				</div>
			</div>
			<div class="columna sec3">
				<div>
					<div class="negritas fila">Orden N°: </div>
					<div class="negritas fila">{{id_orden}}</div>
				</div>
				[tag name="gar0"]
				<div>
					<div class="negritas fila">Garantia Nº: </div>
					<div class="negritas fila">{{garantia}}</div>
				</div>

				<div>
					<div class="negritas fila">De la orden Nº: </div>
					<div class="negritas fila">{{orden}}</div>
				</div>
				[/tag name="gar0"]
				<div>
					<div class="label_desc">Tecnico(s): </div>
					<div>{{tecnicos}}</div>
				</div>
			</div>
		</div>
		<div id="sec2">
			<div class="columna">
				<div>
					<div class="negritas fila">Cliente Nº: </div>
					<div class="fila">{{cliente}}</div>
				</div>
			</div>
			<div class="columna">
				<div>{{nombre_cliente}}</div>
			</div>
			<div class="columna">
				<div>
					<div class="label_desc">Empresa: </div>
					<div>{{nombre_empresa}}</div>
				</div>
			</div>
			<div class="columna">
				<div>
					<div class="negritas fila">Telefono: </div>
					<div class="fila">{{telefono}}</div>
				</div>
				<div>
					<div class="negritas fila">Celular: </div>
					<div class="fila">{{celular}}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contenido">
		<br>
		<div>
			<div>
				<span class="titulos">Problema: </span>
				<span class="mayus">{{descripcion}}</span>
			</div>
			<div>
				<span class="titulos">Observaciones: </span>
				<span class="mayus">{{observaciones}}</span>
			</div>
		</div>

		<!---->
		<div class="servicio">
			<p class="negritas">Servicio(s): </p>
			{{lista_servicios_orden}}
		</div>
		<!---->
		<div class="equipo">
			<p class="negritas">Equipo(s): </p>
			[tag name="verequ"]
			{{lista_equipos_orden}}
			[/tag name="verequ"]

			[tag name="noequ"]
			<div class="equipo mayus">No Existen Equipos Asignados</div>
			[/tag name="noequ"]
		</div>
		<!---->
		<div id="diagnosticos">
			<span class="titulos">Diagnosticos:</span>
			[tag name="verdia"]
				{{lista_diagnosticos_orden}}
			[/tag name="verdia"]

			[tag name="nodia"]
			<div id="diag">
				<p>___________________________________________________________________________</p>
				<br/>
				<p>___________________________________________________________________________</p>
				<br/>
				<p>___________________________________________________________________________</p>
				<br/>
			</div>
			[/tag name="nodia"]
		</div>
	</div>

	<div class="pie">
		<div id="nota">Todo Chequeo y diagnostico de equipo tiene un costo</div>
		<div id="firma">
			<p>__________________________</p>
			<p class="mayus">{{nombre_cliente}}</p>
			<p>Firma del Cliente</p>
			[tag name="fent"]
				Fecha de entrega:{{fecha_entrega}}
			[/tag name="fent"]
		</div>
	</div>
</div>

