<fieldset>
    <legend class="legenda">Pagos</legend>
    <div id="msnfo"></div>
    <div class="fila" id="ficha_orden">{{pagos_varios}}</div>
    <div class="fila">
        <label class="etiqueta">Escribe el folio de la ficha</label>
        <input type="text" id="searchval" name="searchval" value="{{searchval}}">
        <select id="campof" name="campof">
        	<option value="id_ficha">Id ficha</option>
        	<option value="folio">Folio Ficha</option>
        </select>
        <input type="button" value="buscar" id="searchficha" name="searchficha">		
    </div>
    <div id="findficha"></div>
</fieldset>