<div id="seccion_solicitud" title="Solicitud De Servicio" data-totalcuentas="{{totalcuentas}}">
	<form id="frmsolicitud" name="frmsolicitud" class="formclass">
		<div class="cont-flex flex-jcenter">
			<div class="item-12 cont-flex">
				<label class="label item-12" for="cuenta">Cuenta:</label>
				<select class="validate[required] item-12" id="cuenta" name="cuenta">{{cuenta_usuario}}</select>
			</div>

			<div class="item-12 cont-flex">
				<label class="label item-12" for="problema">Problema</label>
				<textarea class="validate[required] item-12" id="problema" name="problema"></textarea>
			</div>
		</div>
	</form>
</div>
