<div class="cont-flex divwrap">
	<div class="item-2 cont-flex tab cont-start">
		<div class="item-12 tablinks active" onclick="openCity(event, 'cont1')">Diagrama De actividades</div>
		<div class="item-12 tablinks" onclick="openCity(event, 'cont2')">Modulo Ordenes</div>
		<div class="item-12 tablinks" onclick="openCity(event, 'cont3')">Modulo ACL</div>
	</div>
	<div class="item-10 cont-flex divcont">
		<div class="item-12 tabcontent" id="cont1">
			<div>
				<h3>Diagrama De actividades De SCSMIC</h3>
				<img src="{{img}}documentacion/estatus_ordenes.jpg">
			</div>
		</div>
		<div class="item-12 tabcontent inactivo" id="cont2">
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare dignissim ante vitae accumsan. Etiam id tincidunt tortor. Quisque sed sagittis erat. Etiam commodo posuere urna, eu semper quam viverra ac. Nulla facilisi. Suspendisse et augue metus. Nam congue aliquam gravida. Proin dictum nulla et eros consectetur, sit amet dignissim ipsum malesuada.

			Vivamus semper lectus ut tortor lobortis ullamcorper. Nulla finibus est pellentesque aliquam aliquet. Vestibulum dictum pharetra odio, a vulputate ligula rutrum at. Vestibulum tristique mollis justo, ac fringilla diam faucibus eu. Nunc lacinia eu sem non ornare. Sed molestie elementum massa, sit amet dignissim ante mattis eu. Vestibulum ultrices at nisl ut posuere. Cras eleifend lacinia felis. Nam suscipit eget velit ac sodales. Nunc eget porttitor arcu, id laoreet augue. Morbi at felis nibh.

			Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec congue ligula et ex accumsan blandit. Ut commodo ligula ut lacus tincidunt, sit amet dictum elit sollicitudin. Mauris sem erat, ultrices in dolor porttitor, iaculis venenatis nisi. Phasellus vestibulum enim vitae ligula dictum, et maximus odio sagittis. Donec in nibh ipsum. Mauris vulputate odio quis velit maximus, quis faucibus elit gravida.

			Vestibulum posuere vehicula commodo. Nam imperdiet magna eget porta eleifend. Aliquam erat volutpat. Pellentesque tempor metus id dictum malesuada. Cras vel finibus ipsum. Curabitur diam neque, posuere a lacus a, vehicula condimentum mi. Curabitur vehicula, sapien pulvinar eleifend consequat, risus felis volutpat diam, sit amet pharetra justo mi sit amet elit. Vestibulum lorem libero, feugiat sit amet lacus eget, congue aliquet arcu. Donec quis mauris enim. Curabitur rhoncus elementum urna eu pretium. Quisque eleifend a nibh id eleifend. Morbi id ex laoreet, molestie libero vulputate, viverra ex. Suspendisse nisl turpis, dignissim et maximus nec, laoreet in lorem. Donec eu sem arcu. Proin ac odio a enim eleifend feugiat in ac magna. Curabitur vel tempor leo, ut convallis metus.

			Curabitur justo leo, porttitor in semper et, euismod ut lorem. Suspendisse placerat aliquam sollicitudin. Morbi nec lobortis lorem, vitae semper augue. Phasellus sed euismod nunc. Cras at orci quis urna vehicula feugiat eget ut felis. Morbi tincidunt turpis libero, vel fermentum enim lobortis at. Vestibulum consequat, ligula in ultrices placerat, risus lectus euismod elit, nec efficitur lorem lectus nec nibh. Fusce metus felis, ullamcorper eu risus quis, suscipit sagittis nulla. Pellentesque porta turpis vel dui porta tincidunt.
			</p>
		</div>
		<div class="item-12 tabcontent inactivo" id="cont3">
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod, orci non commodo egestas, urna est blandit lectus, vitae elementum orci dui eu mauris. In maximus leo id quam interdum mattis. Suspendisse vehicula orci et ipsum rhoncus lobortis. Suspendisse egestas libero quis sem hendrerit fermentum. Proin ut placerat nibh. Suspendisse id dapibus sem. Vivamus quis tincidunt neque, nec porttitor elit. Sed augue dolor, aliquet nec maximus vel, feugiat vitae nibh. Cras pellentesque aliquet nisl. Nulla facilisi. Duis in dapibus dolor. Etiam scelerisque nisl eu gravida lobortis.

			Nulla sed arcu turpis. Morbi non purus tincidunt, mattis lectus ut, facilisis diam. Fusce ut lectus in ipsum consectetur ultrices sit amet vitae orci. Curabitur gravida, massa imperdiet tincidunt sodales, enim ligula viverra dolor, ut sollicitudin lorem dui vel ipsum. Pellentesque lobortis lobortis lobortis. Nulla ut dui massa. Sed nibh purus, mollis a posuere sit amet, rhoncus a ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum consectetur, elit at dictum elementum, nisl ante dictum augue, vel facilisis erat ipsum non lectus. Phasellus eu sollicitudin tortor. Curabitur placerat dui ullamcorper, mattis nibh iaculis, faucibus est. Fusce tempor, massa et tincidunt aliquet, purus enim mollis ipsum, id facilisis nibh metus vitae nulla.

			Quisque efficitur ac leo a dictum. Donec sollicitudin mi at ullamcorper interdum. Sed sed velit a urna imperdiet maximus iaculis laoreet velit. Duis sapien lacus, volutpat sed ipsum a, porttitor tempus enim. Vivamus lobortis vitae risus quis ultricies. Praesent sit amet augue dictum leo pharetra dictum. Suspendisse eget quam mi. Nullam ullamcorper aliquet justo vel commodo. Duis ultricies urna eu pulvinar tincidunt. Morbi scelerisque dapibus orci, at hendrerit massa blandit in. Sed non ante elementum, condimentum felis vel, laoreet enim.

			Etiam bibendum odio est, at efficitur risus fringilla sed. Donec vitae convallis quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam aliquet nisi in faucibus ullamcorper. Curabitur tempor, dui in ullamcorper luctus, augue turpis tristique dui, et aliquam tellus nisl a velit. Sed quis purus hendrerit, ornare lacus in, ultrices orci. Morbi at neque ac purus cursus congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin sit amet posuere nisi, at porttitor enim. Aenean facilisis sollicitudin dui at consequat. Aliquam consectetur nulla et lobortis condimentum. Aenean congue augue vitae luctus consectetur. Curabitur et quam dolor.

			Cras vel mauris ullamcorper leo aliquam tempus. Nunc tempor mauris velit, vitae vulputate ex posuere et. Sed imperdiet orci a est bibendum, id rhoncus turpis efficitur. Donec rutrum rhoncus dolor at feugiat. Vestibulum dolor augue, molestie id massa ac, maximus sagittis purus. Praesent accumsan arcu ac lacus blandit, ut tristique sapien eleifend. Nulla feugiat sodales vestibulum. Donec ante eros, accumsan ut lobortis sed, posuere id mauris.
			</p>
		</div>
	</div>
</div>