<form name="frmempresa" id="frmempresa" data-ide="{{idempresa}}" data-estado="{{estado}}" data-ciudad="{{ciudad}}" data-colonia="{{colonia}}"  data-contacto="2">
	<fieldset>
		<legend>{{titulo_form}}</legend>
		<div id="msnres">{{mensaje}}</div>
		<div class="fila">
            <div class="columna wauto">
                <input type="radio" id="catnormal" name="radioemp" value="1" {{chkemp1}} />
                <label class="etiqueta wauto" for="catnormal">Normal</label>
            </div>
            <div class="columna wauto">
                <input type="radio" id="catcontrato" name="radioemp" value="2" {{chkemp2}}/>
                <label class="etiqueta wauto" for="catcontrato">Contrato</label>
            </div>
            <div class="columna wauto">
                <input type="radio" id="catscsmic" name="radioemp" value="3" {{chkemp3}}/>
                <label class="etiqueta wauto" for="catscsmic">scsmic</label>
            </div>
        </div>


		<fieldset>
        	<legend class="legenda">Datos Generales</legend>
        	<div class="fila">
				<div class="columna wsmall">
					<label class="etiqueta wfull">Nombre de la Empresa:</label>
					<input type="text" name="nombreempresa" id="nombreempresa" class="validate[required] text-input" value="{{nombreEmpresa}}" />
					<div id="msg" class="msnres"></div>
				</div>
				<div class="columna wsmall">
					<label class="etiqueta wfull">Razon social: </label>
					<input type="text" name="razonsocial" id="razonsocial" class="validate[required] text-input" value="{{razonSocial}}" />
				</div>
				<div class="columna wsmall">
					<label class="etiqueta wfull tin">RFC:</label>
					<input type="text" name="rfc" id="frc" class="" value="{{rfc}}" />
				</div>
				<div class="columna wsmall">
					<label class="etiqueta wfull tin">SAE:</label>
					<input type="text" name="sae" id="sae" class="" value="{{sae}}" />
				</div>
			</div>
			<div class="fila">
				<div class="columna large">
					<label class="etiqueta wfull">Descripcion :</label>
					<textarea name="descripcion" id="descripcion" class="areas_texto">{{descripcion}}</textarea>
				</div>
			</div>
        </fieldset>

		<fieldset>
	        <legend class="legenda">Dirección</legend>
	        <div class="fila">
	            <div class="columna wmedium">
	                <label class="etiqueta wfull">Direccion:</label>
	                <textarea id="direccion" name="direccion"  class="validate[required] text-input atext">{{direccion}}</textarea>
	            </div>
	        </div>
	        <div class="fila" id="msgresidencia"></div>
	        <div class="fila">
	            <div class="columna small">
	                <label class="etiqueta wfull">Estado:</label>
	                <select id="estado" name="estado" class="wlarge">
	                    {{lstestados}}
	                </select>
	                <div id="addestado" class="rad icono sistema-agregar links" title="agregar estado"></div>
	            </div>
	            <div class="columna small">
	                <label class="etiqueta wfull">Ciudad:</label>
	                <select name="ciudad" id="ciudad" class="wlarge">
	                    {{lstciudades}}
	                </select>
	                <div id="addciudad" class="rad icono sistema-agregar links" title="agregar ciudad"></div>
	            </div>
	            <div class="columna small">
	                <label class="etiqueta wfull">Colonia:</label>
	                <select name="colonia" id="colonia" class="wlarge">
	                    {{lstcolonias}}
	                </select>
	                <div id="addcolonia" class="rad icono sistema-agregar links" title="agregar colonia"></div>
	            </div>
	        </div>
	    </fieldset>

	    <fieldset>
	        <legend class="legenda">Contacto</legend>
	        <div id="msgcontacto"></div>
	        <div class="fila wfull" id="sec_contactos">{{lstcontactos}}</div>
	        <div class="fila">
	            <div class="columna w30">
	                <label class="etiqueta wfull">Tipo Contacto : </label>
	                <select id="tipocontacto" class="wlarge" name="tipocontacto">{{lsttipocontacto}}</select>
	            </div>
	            <div class="columna wmedium">
	                <label class="etiqueta wfull">Valor : </label>
	                <input type="text" class="wmedium" name="valorcontacto" id="valorcontacto"/>
	                <input type="button" name="{{btncontacto}}" id="{{btncontacto}}" value="agregar Dato De Contacto">
	            </div>
	        </div>
	    </fieldset>
	    [tag name="seccion_contactos_personal"]
	    <fieldset>
	    	<legend class="legenda">Contactos Personal</legend>
	    	<div id="cpersonal">{{cpersonal}}</div>
	    </fieldset>
	    [/tag name="seccion_contactos_personal"]
		<div class="fila">
			<div class="columna large">
				<input type="button" class="clean-gray" value="{{btnval}}" name="enviar" id="enviar" />
				<input type="button" value="Cancelar" onclick="history.back(-1);" class="clean-gray" />
			</div>
		</div>
	</fieldset>
</form>
<!--o-->
<div class="fila" id="sec_add_estado" title="Estados">
    <form id="frmestado">
        <div class="fila">
            <label class="etiqueta wfull">Estado:</label>
            <input type="text" maxlength="100" id="nombre_estado" name="nombre_estado" class="validate[required]"/>
        </div>
    </form>
</div>
<!--o-->
<div class="fila" id="sec_add_ciudad" title="Ciudades">
    <form id="frmciudad">
        <div class="fila">
            <label class="etiqueta wfull">Ciudad:</label>
            <input type="text" maxlength="100" id="nombre_ciudad" name="nombre_ciudad" class="validate[required]"/>
        </div>
    </form>
</div>
<!--o-->
<div class="fila" id="sec_add_colonia" title="Colonias">
    <form id="frmcolonia">
        <div class="fila">
            <label class="etiqueta wfull">Colonia:</label>
            <input type="text" maxlength="100" id="nombre_colonia" name="nombre_colonia" class="validate[required]"/>
        </div>
    </form>
</div>
<!--o-->