<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{{path_abs}}public/css/publico/reset.css">
	<link rel="stylesheet" type="text/css" href="{{path_abs}}source/css/print/{{jsoncss}}">
	
	<link rel="stylesheet" href="{{path_abs}}public/css/publico/css_print.css" media="print" />
	<script src="{{path_abs}}public/js/publico/prefixfree.min.js"></script>
	{{js}}
	<!--
	Desarrollado por: ISC. Angel Florentino Vargas Pool
	angelvargaspool@gmail.com
	Version 5.0.0
	-->
</head>
<body>
	<noscript>
	    <div id="nojs">
	        <p>Para visitar nuestra página web es necesario tener Javascript 
	    habilitado en tu navegador. Disculpa las molestias.</p>
	    </div>
	</noscript>
	<div id="wrapPrint">
		<div id="contenidoPrint">
		{{contenido}}
		</div>
	</div>
	[tag name="botones"]
	<div class="no_print" id="botones">
		<input type="button" onclick="window.print();" value="Imprimir" class="boton" />
		{{botones}}
		<!--
		<input type="button" value="Regresar" class="clean-gray" onclick="history.back(-1);" />
		<input type="button"  value="Volver" onclick="javascript: window.location='{ubicacion}'" class="boton"  />
		-->
	</div>
	[/tag name="botones"]
</body>
</html>