<div id="frmpermisos" title="Permisos">
	<form id="frm_permiso" mane="frm_permiso">
		<div class="fila">
			<label class="etiqueta wfull">Nombre</label>
			<input type="text" id="nombrep" name="nombrep" class="validate[required] text-input">
		</div>
		<div class="fila">
			<label class="etiqueta wfull">Key</label>
			<input type="text" id="key" name="key" class="validate[required] text-input">
		</div>
		<div class="fila">
			<label class="etiqueta wfull">Modulos</label>
			<select id="modulo" name="modulo" class="validate[required]">
				{{lstmodulos}}
			</select>
		</div>
		<div class="fila">
			<label class="etiqueta wfull">Descripcion</label>
			<textarea id="descripcion" name="descripcion"></textarea>
		</div>
		<div class="fila">
			<label class="etiqueta wfull">Visibilidad</label>
			<select class="opciones" id="menu" name="menu">
				<option value="0">No aparece en Menu</option>
				<option value="1">Aparece en el menu</option>
			</select>
		</div>
	</form>
</div>