<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{{path_abs}}public/css/publico/reset.css">
	{{css}}
	<script src="{{path_abs}}public/js/publico/prefixfree.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{path_abs}}public/js/publico/jquery.js">\x3C/script>')</script>
	<script src="{{path_abs}}public/js/publico/jsgeneral.js"></script>
	{{js}}
	<!--
	Desarrollado por: ISC. Angel Florentino Vargas Pool
	angelvargaspool@gmail.com
	Version 5.0.0
	-->
</head>
<body>
	<noscript>
	    <div id="nojs">
	        <p>Para visitar nuestra página web es necesario tener Javascript 
	    habilitado en tu navegador. Disculpa las molestias.</p>
	    </div>
	</noscript>
	<div id="wrap">
		<div id="content_2">
		{{contenido}}
		</div>
	</div>
</body>
</html>