<span style='color: #000' title='Frames'>    44</span><span style='color: #009' title='Memory'>   6144.00 KB</span><span style='color: #900' title='Time'>   1498.77 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />