@media print{
	.no_print, nav , header, footer, form{
		display:none;
	}
	@page{
   		margin: 0;
	}
	#content,body{
		border:0;
	}
	#costo{
		position: absolute;
		top:600px;
		left:500px;
	}
	#wrap,#wrapPrint{
		border: 0;
		background:#FFF;
		margin:0 auto;
		position:relative;
		width:auto;
		box-shadow:0 0 0 #FFF;
		-moz-box-shadow:0 0 0 #FFF;
		-webkit-box-shadow:0 0 0 #FFF;
	}
	.tablas, .tablas td, .tablas th{
		border:#000 solid 2px;
		margin:40px auto;
		width:auto;
	}
	.sinlinea,.sinlinea td,.sinlinea th{
		border:#FFF solid 0px;
	}
	.tablas .ths{
		border:#000 solid 2px;
	}
	#form_reportes,.linea,.no-print
	{
		display: none;
		border: none;
		width: 0;
		height: 0;
	}
}