fieldset{display: inline-block; vertical-align:top; width:100%;}
form
{
	border:2px solid #000;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	margin: 10px auto;
	min-height:100px;
	width:auto;
	/*font-size: 13px;*/
}

legend
{
	border-bottom:1px solid #000;
	/*background-color:#69F;*/
	background-color:#4285B8;
	border-radius:8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius:8px 8px 0 0;
	color: #fff;
	font-weight:bold;
	height:20px;
	margin:0 0 8px 0;
	padding: 3px 0;
	text-align:center;
	width:100%;
	vertical-align:top;
}
option{border-right:1px #000 solid;}
/*
*Maquetado
*/
.fila span{display: block; padding: 1px 0; margin: 1px 0;}
.columna{display: inline-block; vertical-align: top; width:35%;}
.columna,.fila{margin: 12px 15px;}
.columna > .fila, .columna > .columna, .fila > .fila, .fila > .columna{margin: 2px 0;}
/*
*Maquetado
*/
.areas_texto,.areas_texto:focus{
	border:1px solid #000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	/*text-transform: uppercase;*/
	font-size: 13px;
	max-height:120px;
	min-height:120px;
	min-width:66%;
	max-width:66%;
}
.atext,.atext:focus
{
	border:1px solid #000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	/*text-transform: uppercase;*/
	font-size: 13px;
	max-height:50px;
	min-height:50px;
	min-width:66%;
	max-width:66%;
}
.areas_texto:focus,.inputtext:focus{background-color: #C2D0E7;}
.borde{border:2px solid #000;}
.bordeD{border:1px #000 dotted;}
.bordeado{
	border:1px dashed #000;
	border-radius:15px 15px 0 0;
	-moz-border-radius:15px 15px 0 0;
	-webkit-border-radius:15px 15px 0 0;
}
/* clean gray
*******************************************************************************/
.clean-gray {
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
	border: 1px solid #555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	font: bold 14px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	margin: 0 10px;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
	text-transform:uppercase;
	width: 100px; }
.clean-gray:hover{
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #555;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
 .clean-gray:active {
    border: 1px solid #555;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }
/* clean gray
*******************************************************************************/
.enlace{text-decoration: underline; color: blue;}
.etiqueta{
	display: inline-block;
	font-weight:bold;
	font-size:12px;
	padding: 0 1px;
	text-transform: uppercase;
	vertical-align: top;
	width:27%;
	word-wrap: break-word;
}
.file{border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.large,.large:focus{width:57%;}
.medium,.medium:focus{width:48%;}
.msnres{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size:12px;
	width:auto;
}
.rad{display: inline-block; vertical-align: top;}
.sinborde{border: 0;}
.sinmargen{margin: 0; padding: 0; height:0;}
.sinmayusculas,.sinmayusculas:focus{text-transform:inherit;}
.small,.small:focus{width:31%;}
.tiny,.tiny:focus{width:23%;}
.tin,.tin:focus{width:15%;}
.xlarge{width:80%;}
/*por cuestiones de java script este estilo se colocara siempre de ultimo*/
.completo,.completo:focus{width:99%;}
.pct40,.pct40:focus{width:40%;}
/***/
/*.tbinput{min-width:90% !important;}*/
/*new css*/
.btnadd, .btnadd img
{
	display: inline-block;
	vertical-align: top;
	width: 19px;
	height: 19px;
	margin: 0;
	padding: 0;
}

.label
{
	display: inline-block;
	font-weight:bold;
	font-size:13px;
	padding: 0 1px;
	text-transform: uppercase;
	vertical-align: top;
	word-wrap: break-word;
	width: auto;
}
.wtin{width: 10%;}
.wtiny{width: 20%;}
.wsmall{width: 25%;}
.w30{width: 30%}
.wnormal{width: 40%;}
.wmedium{width: 50%;}
.wg{width: 70%;}
.wlarge{width: 90%; min-width: 90% !important}
.wfull{width: 100%;}
.wauto{width: auto;}
.hidden{display: none;}
/*new css*/
/*new css*/
/*
*Para items
*/
.derecha{text-align: right; min-width: 20px;}
.izquierda{text-align: left; min-width: 20px;}
.info span:first-child, .info span:last-child {display: inline-block;}
.item,.data,.delitem,.delint,.delprod,.resp{display: inline-block; vertical-align: top;}
.item
{
	margin: 2px 5px;
	background-color: #C7EF9F;
	padding: 2px 4px;
	border-radius:0.3em;
	-moz-border-radius:0.3em;
	-webkit-border-radius:0.3em;
	font-weight: bold;
	font-size: 13px;
	border:1px solid #766F6F;
}
.delint{border-left: 1px solid #766F6F;}
.data, .delitem, .delint, .delprod, .resp{padding: 2px 4px;}
.infouser
{
	background-color: #FFF4CC;
	margin: 2% 13px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-weight: bold;
	font-size: 13px;
	padding: 5px 2px;
	border: 2px solid #F8E3AC;
	/*color: #E7A36F;*/
	/*color: #F07746;*/
	color: #0A0A0A;
	line-height: 16px;
	font-family: Tahoma;
	text-transform: capitalize;
	width: 98%;
}
/*
*
*/
.elemento{display: inline-block;}
.legenda{border-bottom: 2px solid #000; border-top: 2px solid #000; border-radius: 0;}

/*
*Seccion css para crear elementos con un menu deplegable de opciones
*
*/
.seccion_datos{
	width: 95%;
	font-size: 12px;
}
.obj{
	display: block;
	padding-right: 2%;
	box-sizing:border-box;
}
.datos>.tipo{
	font-weight: bold;
	text-transform: uppercase;
}
.datos, .menu-drop{
	display: inline-block !important;
	vertical-align: top;
	box-sizing:border-box;
}
.datos{
	width: 82%;
}

.grupo{
	display: inline-block;
	vertical-align: top;
	margin-right: 1%;
	margin-bottom: 0.5%;
	padding: 0.1em;
	box-sizing:border-box;
	width: 19.2%;
	background-color: #F1F1F1;
	border: 1px solid #CCC;
}
.grupo:nth-child(5n){
	margin-right: 0;
}

.menu-drop{
	width: 16%;
	position: relative;
}
.menu-drop li ul{
	display: inline-block;
	vertical-align: top;
}
.menu-drop li>ul{
	visibility: hidden;
	background-color: #FFF;
	border: 1px solid #CCC;
	box-sizing:border-box;
	position: absolute;
	z-index: 999;
	top: 26px;
}
.menu-drop li>ul>li{
	padding: 0.4em 0.5em;
}
.menu-drop li:hover>ul{
	visibility: visible;
	display: inline;
}
