/*
*Paginador
*/
.seccion{
	width: 25%;
	display: inline-block;
	vertical-align: top;
	margin: 10px 0;
}
.paginador{
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin: 10px 0;
}
.paginador a{
	box-shadow: 3px 3px #000;
	color:#000;
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
	margin: 2px 3px;
	padding: 4px;
	text-decoration: none;
	vertical-align: top;
	border: 1px solid #000;
}
.paginador a:hover{
	color: blue;
	text-decoration:underline;
	transform:scale(1.1);
	-ms-transform:scale(1.1); /* IE 9 */
	-moz-transform:scale(1.1); /* Firefox */
	-webkit-transform:scale(1.1); /* Safari and Chrome */
	-o-transform:scale(1.1); /* Opera */
}
.paginador a.activo{
	background-color:#47484A;
	color: #FFF;
}
.paginator{
	min-width: 180px;
	text-align: center;
}
/**
botones
**/
.btnext
{
    -moz-box-shadow:inset 0 0 0 0 #bbdaf7;
    -webkit-box-shadow:inset 0 0 0 0 #bbdaf7;
    box-shadow:inset 0 0 0 0 #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:normal;
    padding:4px 10px;
    text-decoration:none;
    text-shadow:1px 0 0 #528ecc;
}
.btnext:hover
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
    text-decoration: none;
    color:#ffffff;
}
.btnext:active
{
    position:relative;
    top:1px;
}
/**
Seccion css para crear elementos con un menu deplegable de opciones
**/
.grid{}
.row{
	width: 95%;
	font-size: 12px;
	display: block;
	margin: 0 auto;
	background-color: #F1F1F1;
	border: 1px solid #CCC;
	margin-right: 1%;
	margin-bottom: 0.5%;
	padding: 0.1em;
	box-sizing:border-box;
}
.row:hover{
	background-color: #FFFF66;
}
.col{
	display: inline-block !important;
	vertical-align: top;
	box-sizing:border-box;
	width: 19%;
}
.object{
	display: inline-block;
	vertical-align: top;
	padding-right: 2%;
	box-sizing:border-box;
}

.object-menu, .object-info{
	display: inline-block;
	vertical-align: top;
	width: 45%;
	box-sizing:border-box;
}

.object.title{
	font-weight: bold;
	text-transform: uppercase;
}
/*
*Menu Drop
*/

.drop-menu{
	width: auto;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.drop-menu span{
	display: block;
}
.drop-menu li ul{
	display: inline-block;
	vertical-align: top;
}
.drop-menu li>ul{
	visibility: hidden;
	background-color: #FFF;
	border: 1px solid #CCC;
	box-sizing:border-box;
	position: absolute;
	z-index: 999;
	top: 24px;
}
.drop-menu li>ul>li{
	padding: 0.4em 0.5em;
}
.drop-menu li:hover>ul{
	visibility: visible;
	display: inline;
}