fieldset{
	display: inline-block;
	vertical-align:top;
	width:100%;
}
form{
	border:2px solid #000;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	margin: 10px auto;
	min-height:100px;
	width:auto;
	/*font-size: 13px;*/
}
legend{
	border-bottom:1px solid #000;
	/*background-color:#69F;*/
	background-color:#ED7B22;
	border-radius:8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius:8px 8px 0 0;
	color: #fff;
	font-weight:bold;
	height:20px;
	margin:0 0 8px 0;
	padding: 3px 0;
	text-align:center;
	width:100%;
	vertical-align:top;
}
option{
	border-right:1px #000 solid;
}
.columna
{
	display: inline-block;
	vertical-align: top;
	margin: 5px 5px;
	width:35%;
}
.fila
{
	margin:10px 0;
}
.areas_texto,.areas_texto:focus{
	border:1px solid #000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-transform: uppercase;
	font-size: 13px;
	max-height:120px;
	min-height:120px;
	min-width:66%;
	max-width:66%;
}
.areas_texto:focus,.inputtext:focus{
	background-color: #C2D0E7;
}
.borde{
	border:2px solid #000;
}
.bordeD{
	border:1px #000 dotted;
}
.bordeado{
	border:1px dashed #000;
	border-radius:15px 15px 0 0;
	-moz-border-radius:15px 15px 0 0;
	-webkit-border-radius:15px 15px 0 0;
}
/* clean gray
*******************************************************************************/
.clean-gray {
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
	border: 1px solid #555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	font: bold 14px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	margin: 0 10px;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
	text-transform:uppercase;
	width: 100px; }
.clean-gray:hover{
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #555;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
 .clean-gray:active {
    border: 1px solid #555;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }
/* clean gray
*******************************************************************************/

.etiqueta{
	display: inline-block;
	font-weight:bold;
	font-size:12px;
	padding: 0 1px;
	text-transform: uppercase;
	vertical-align: top;
	width:27%;
	word-wrap: break-word;
}
.inputtext, .inputtext:focus,.opciones{
	border:1px solid #000;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display: inline-block;
	height:20px;
	text-transform: uppercase;
	vertical-align:top;
	width:200px;
	font-size: 13px;
}
.file{
	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.large,.large:focus{
	width:57%;
}
.medium,.medium:focus{
	width:48%;
}
.msnres{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size:12px;
	width:auto;
}
.rad{
	display: inline-block;
	vertical-align: top;
}
.sinborde{
	border: 0;
}
.sinmargen{
	margin: 0;
	padding: 0;
	height:0;
}
.sinmayusculas,.sinmayusculas:focus{
	text-transform:inherit;
}
.small,.small:focus{
	width:31%;
}
.tiny,.tiny:focus{
	width:23%;
}
.tin,.tin:focus{
	width:15%;
}
.xlarge{
	width:80%;
}
/*por cuestiones de java script este estilo se colocara siempre de ultimo*/
.completo,.completo:focus{
	width:99%;
}
.pct40,.pct40:focus{
	width:40%;
}
/***/
.tbinput
{
	width: 95%;
}
/*new css*/
.input,.input:focus
{
	border:1px solid #000;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display: inline-block;
	height:20px;
	width: auto;
	vertical-align:top;
	font-size: 13px;
}
.label
{
	display: inline-block;
	font-weight:bold;
	font-size:13px;
	padding: 0 1px;
	text-transform: uppercase;
	vertical-align: top;
	word-wrap: break-word;
	width: auto;
}
.wtin{width: 10%;}
.wtiny{width: 20%;}
.wsmall{width: 25%;}
.w30{width: 30%}
.wnormal{width: 40%;}
.wmedium{width: 50%;}
.wg{width: 70%;}
.wfull{width: 100%;}
.wauto{width: auto;}
.hidden{display: none;}
/*new css*/