.table-grid{
    margin: auto;
}
.table-grid input {
    border: 1px solid #005D8C;
    background-color: #F7F7F7;
    border-radius: 8px;
    width: 95%;
}
.table-grid {
    background-color: #EBEBEB;
    border: 1px solid #005D8C;
    border-radius: 5px;
    border-spacing: 0;
    text-align: center;
}
.table-grid thead th {
    color: #FFF;
    padding: 3px 5px;
}
.table-grid tbody td {
    padding: 3px 5px;
}
.table-grid tbody > tr:nth-child(even) {
    background-color: #FFF;
}
.table-grid tbody > tr:nth-child(odd) {
    background-color:  #E1EEF4;
}
.table-grid tbody > tr:hover {
    background-color: #A6D3EA;
}
.table-grid thead > tr:nth-child(1) {
    background-color: #005D8C;
}
.table-grid tfoot td{
    background-color: #E1EEF4;
    border-top: 1px solid #005D8C;
    border-radius:  0 0 5px 5px;
    padding-top: 5px;
}
.fondo
{
    background-color: yellow;
}
.fondo:hover
{
    background-color: gray;
}
