/*
*
*/
.diagnostico,.seccion>span{display: block;}
.seccion{display: inline-block;vertical-align: top;}
/*
*
*/
.diagnostico{margin: 1px 0;}
.seccion{width: 45%;}
.titulos
{
	font-weight:bold;
	text-transform:uppercase;
	padding: 6px 0 3px;
}
/*
*
*/
.servicio, #equipo{min-height:35px;max-height:80px;}
#contenidoPrint{padding:.4cm .8cm;}
#firma{
	padding:0;
	text-align:center;
	width:8cm;
}
#firma p{padding:2px 0;}
#microged{font-size:20px;font-weight:bold;}
#tituloCentro{
	font-size:17px;
	margin:0 auto;
	padding:2px 0 10px;
	text-align:center;
	width:8cm;
}
#txt_der{
	width:8cm;
	text-align:justify;
	float:right;
	margin: 2px 0;
}
#txt_izq{
	width:8cm;
	text-align:center;
	float:left;
	margin: 2px 0;
}
#txt_izq p{padding: 1px 0;}
#wrapPrint{
	box-shadow:6px 6px 10px black;
	-moz-box-shadow:6px 6px 10px black;
	-webkit-box-shadow:6px 6px 10px black;
	background-color:#FFF;
	font-size:12px;
	margin:0 auto;
	max-height:13.9cm;
	max-width:21.5cm;
	min-height:13.9cm;
	min-width:21.5cm;
}
.datos_imp{float:left;width:50%;padding: 2px 0;}
.divisor{float:left;padding:1px 10px 0 0;width:30%;}
.secquipos{display: block;padding:2px 0;}
.izquierda{float:left;padding:1px 2px;width:20%;}
.izquierda_p{float:left;padding:1px 2px;width:15%;}
.label_desc{
	float:left;
	font-weight:bold;
	text-transform:uppercase;
	padding: 2px 0;
	width:50%;
}
.negritas{font-weight:bold;text-transform:uppercase;padding: 6px 0 3px;}
/**/
#cliente, .servicio, #equipo, #diagnosticos{width:21cm;padding:8px 0;}
#tit{float:left;}
#diag{padding:0 15px 0;float:left;}
#nota{
	text-align:center;
	float:left;
	width:8cm;
	padding:0;
}
.clear{clear:both;}
#botones{width:200px;margin:0 auto;}
#pie_hoja{width:18cm;position:relative;bottom:-20px;left:50px;}