/*
.blanco{
	background:#E6E6FA;
}
*/
.btncss
{
    -moz-box-shadow:inset 0 0 0 0 #bbdaf7;
    -webkit-box-shadow:inset 0 0 0 0 #bbdaf7;
    box-shadow:inset 0 0 0 0 #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:normal;
    padding:4px 10px;
    text-decoration:none;
    text-shadow:1px 0 0 #528ecc;
}
.btncss:hover
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
    text-decoration: none;
    color:#ffffff;
}
.btncss:active
{
    position:relative;
    top:1px;
}
.finalizado{
	color:#F00;
}
.tablas{
	border:#FFF solid 1px;
	margin:0 auto;
	width:auto;
	text-transform:uppercase;
}
.tablas .ths{
	background:#69F;
	border:#FFF solid 1px;
	padding:5px 4px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;}
.tablas th {
	border-radius:8px 8px 0 0;
	background:#69F;
	border:#FFF solid 1px;
	padding:5px 4px;
	text-align:center;
	text-transform:uppercase;
	width: auto;
}
.tablas th div, .tablas th span, .tablas th{
	font-size:14px;
	font-weight:bold;
}
.tablas td{
	border:#FFF solid 1px;
	font-size:12px;
	padding:2px 3px;
	text-align:left;
}
.tablas tbody tr:nth-child(even) {background:#E6E6FA;}
.tablas tbody tr:nth-child(odd) {background:#CCF;}
.tablas tbody tr:hover, .tablas tbody tr.tarde:hover, .tablas tbody tr.finalizado:hover
{
	background:#FF6;
}
.tablas tbody tr .fin, .tablas tbody tr.finalizado{
	background:#9DFE98;
	border:1px solid #0F0;
}
.tablas tbody tr.tarde{
	background:#FCC;/*ffc*/
	border:1px solid #F00;}
/*
.tablas thead input{
	width: 95%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}
.tablas thead input[type=checkbox]{
	width: auto;
}
*/
.mensaje{
	background:#FFFF99;
}
.msnrestab td{
    margin: 0;
    padding: 0;
}
.btnext{
    -moz-box-shadow:inset 0 0 0 0 #bbdaf7;
    -webkit-box-shadow:inset 0 0 0 0 #bbdaf7;
    box-shadow:inset 0 0 0 0 #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:normal;
    padding:4px 10px;
    text-decoration:none;
    text-shadow:1px 0 0 #528ecc;
    margin-right: 2px;
}
.btnext:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
    text-decoration: none;
    color:#ffffff;
}
.btnext:active{
    position:relative;
    top:1px;
}
/* seccion para el boton de agregar proveedor */
.seccion1{
	width: 6%;
	display: inline-block;
	vertical-align: top;
	margin: 10px 0 10px -50px;
}

/**************************************************************************
*Paginador
**************************************************************************/
	.seccion{
		width: 25%;
		display: inline-block;
		vertical-align: top;
		margin: 10px 0;
	}
	.paginador{
		width: 45%;
		display: inline-block;
		vertical-align: top;
		margin: 10px 0;
	}
	.paginador a{
		box-shadow: 3px 3px #000;
		color:#000;
		display: inline-block;
		font-weight: bold;
		font-size: 12px;
		margin: 2px 3px;
		padding: 4px;
		text-decoration: none;
		vertical-align: top;
		border: 1px solid #000;
	}
	.paginador a:hover{
		color: blue;
		text-decoration:underline;
		transform:scale(1.1);
		-ms-transform:scale(1.1); /* IE 9 */
		-moz-transform:scale(1.1); /* Firefox */
		-webkit-transform:scale(1.1); /* Safari and Chrome */
		-o-transform:scale(1.1); /* Opera */
	}
	.paginador a.activo{
		background-color:#47484A;
		color: #FFF;
	}
	.paginator{
		min-width: 180px;
		text-align: center;
	}

/* ----------------------------------------------------------------
estilos para el color de los dominios expirado y por expirar
----------------------------------------------------------------*/
.dominio td{border:#FFF solid 1px;font-size:11px;padding:2px 3px;text-align:left;}

.dominio th{border:#FFF solid 1px;font-size:12px;padding:2px 3px;text-align:center;}

.amarillo, .rojo{font-weight: bold;font-size: 1.2em;text-shadow: 1px 1px #000;}

.amarillo{color: yellow;}

.rojo{color: red;}

/* ----------------------------------------------------------------
para ajustar la imagen en la medida de la imagen del cluetip que se ve en la lista de baners
----------------------------------------------------------------*/
.ui-cluetip-content img{width: 100%;}