/* Style the tab */
.tab {
    background-color: #f1f1f1;
   
}

/* Style the buttons that are used to open the tab content */
.tab div {
    
    background-color: inherit;
    color: black;
    padding: 10px 0;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of divs on hover */
.tab div:hover {
    background-color: #ddd;
}

/* Create an active/current "tab div" class */
.tab div.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    /*border: 1px solid #ccc;*/
}
.activo{
	display: flex;
}
.inactivo{
	display: none;
}

.divwrap{
	 background-color: #FFF;
}
.tab, .divcont{
	background-color: #EEE;
}