.titulos
{
	font-weight:bold;
	text-transform:uppercase;
	padding: 6px 0 3px;
}
h1
{
	margin:0.2em 0;
}
h3
{
	text-transform: uppercase;
	margin: 0;
	font-size: 18px;
}
#contenidoPrint{padding:.4cm .4cm;}
#wrapPrint
{
	box-shadow:6px 6px 10px black;
	-moz-box-shadow:6px 6px 10px black;
	-webkit-box-shadow:6px 6px 10px black;
	background-color:#FFF;
	font-size:11px;
	margin:0 auto;
	max-width:21.5cm;
	min-width:21.5cm;
	height: auto;
}
.botones
{
	display: block;
	max-width:21.5cm;
	min-width:21.5cm;
	margin: 0 auto;
}
.tablas th
{
	font-size: 13px;
}
.tablas td
{
	font-size: 11px;
}
@media print{
	.tablas, .tablas td, .tablas th
	{
		border:#000 solid 1px !important;
		margin: 0 !important;
		width:auto !important;
		font-size: 11px;
	}
	.tablas th
	{
		border:#000 solid 1px !important;
		background-color: #CCC !important;
		border-radius: 0 !important;
	}
	.tablas .ths{
		border:#000 solid 1px !important;
		background-color: #CCC !important;
		border-radius: 0 !important;
	}
}