.resumen{
	margin: 0 auto;
	width: auto;
	padding-left: 45px;
	font-size: 12px;
}
.imgen img{
	width: 100%;
	height: 100%;
}
.imgen{
	width: 25%;
	height: 120px;
	display: inline-block;
	vertical-align: top;
}
.encabezado{
	width: 48%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
.encabezado p{
	margin: 0;
	padding: 0;
}
.menu-wrap, .header-container, #accesos, .footer-container {
	display: none !important;
}
@media screen and (min-width:1180px)
{
	.wraper{
		margin: 0 auto;
		width: 216mm;
		display: block;
	}
}
@media screen and (max-width:1179px)
{
	.wraper{
		margin: 0 auto;
		width: 216mm;
		display: block;
	}
}