<div class="cont-flex items-start">
    <div class="item-12 item-xsm-6 item-sm-3 item-md-3 item-lg-3" id="cal"></div>
    <div class="item-12 item-xsm-12 item-sm-8 item-md-6 item-lg-6" id="login"> 
        <form method="post" id="frm_login" name="frm_login" action="{{path_abs}}inicio/login/">
            <fieldset>
            <legend>INGRESAR  AL SISTEMA</legend>
            <div class="cont-flex flex-jcenter">
                <div class="item-12">{{mensaje}}</div>
                <div class="item-12 item-md-11 item-lg-10 cont-flex">
                    <label class="label item-3">Usuario</label>
                    <input type="text" class="validate[required] text-input item-8 sinmayusculas" id="lgn_user" name="lgn_user" value="{{user}}" />
                </div>
                <div class="item-12 item-md-11 item-lg-10 cont-flex">
                    <label class="label item-3">Contraseña</label>
                    <input type="password" class="validate[required] text-input item-8" id="lgn_password" name="lgn_password" value="{{pass}}" />
                </div>
                <input type="hidden" name="urlredirect" id="urlredirect" value="{{urlredirect}}">
                <div class="item-12">
                    <input type="submit" class="clean-gray" value="Entrar" id="enviar" name="enviar" />
                </div>
            </div>
            </fieldset>
        </form>
    </div>
    <div  class="item-12 item-xsm-6 item-sm-12 item-md-3 item-lg-3 cont-flex" id="days"></div>
</div>
