.producto{
	width: auto;
	background-color: yellow;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	border-radius: 0.5em;	
	padding: 5px;
	border:1px solid #000;
}
.eliminar
{
	cursor: pointer;
}