<button id="menu_app" class="mdl-color-text--white mdl-button mdl-js-button mdl-js-ripple-effect">
    <span>Control
    <i class="material-icons">keyboard_arrow_down</i>
    </span>
</button>
<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="menu_app">
    <li class="mdl-menu__item">
        <a href="{{path_abs}}principal/">SCSMIC</a>
    </li>
    <li class="mdl-menu__item">
        <a href="{{path_abs}}acl/">ACL Control</a>
    </li>
    <li class="mdl-menu__item">
        <a href="{{path_abs}}web/">Web Microged</a>
    </li>
    <li class="mdl-menu__item">
        <a href="{{path_abs}}aplicaciones/">Aplicaciones</a>
    </li>
    <li class="mdl-menu__item">
        <a href="{{path_abs}}mantenimiento/">Mantenimiento</a>
    </li>
    <li class="mdl-menu__item">
        <a href="{{path_abs}}guia_empresarial/">Guia Empresarial</a>
    </li>
</ul>