<button id="menu_user" class="mdl-color-text--white mdl-button mdl-js-button mdl-js-ripple-effect">
    <span>{{nombre_session}}</span>
    <i class="material-icons">keyboard_arrow_down</i>
</button>
<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="menu_user">
	<li class="mdl-menu__item">
		<a href="{{path_abs}}usuarios/perfil/">Modificar Perfil</a>
	</li>
	<li class="mdl-menu__item">
		<a href="{{path_abs}}usuarios/password/">Modificar Password</a>
	</li>
	<hr>
	[tag name="lstanuncios"]
	<li class="mdl-menu__item">
		<a href="{{path_abs}}anuncios/lstanuncios/">Anuncios</a>
	</li>
	[/tag name="lstanuncios"]
	<li class="mdl-menu__item">
		<a href="{{path_abs}}ayuda/documentacion/">
		<img src="{{img}}iconosmenu/img9.png" alt="version" width="18" height="18" /><span>Ayuda</span></a>
	</li>
	<hr>
	<li class="mdl-menu__item">
		<a href="{{path_abs}}principal/cerrar/">Salir</a>
	</li>
</ul>