{{infotabla}}
<div class="paginator">
	<div class="seccion">
		{{btnextra}}
	</div>
	<div class="paginador">
		{{paginador}}
	</div>
	<div class="seccion">
		{{infopag}}
	</div>
</div>
{{tabla}}
<div class="paginator">
	<div class="seccion">
		{{btnextra}}
	</div>
	<div class="paginador">
		{{paginador}}
	</div>
	<div class="seccion">
		{{infopag}}
	</div>
</div>