{{frmtabla}}
{{btnextras}}
{{msg_table_extra}}
<div id="msg_tbl"></div>
<div id="conttbl">
	{{infotabla}}
	<div class="paginator">
		<div class="seccion">
			{{btnextra}}
		</div>
		<div class="paginador">
			{{paginador}}
		</div>
		<div class="seccion">
			{{infopag}}
		</div>
	</div>
	{{tabla}}
	<div class="paginator">
		<div class="seccion">
			{{btnextra}}
		</div>
		<div class="paginador">
			{{paginador}}
		</div>
		<div class="seccion">
			{{infopag}}
		</div>
	</div>
</div>
{{frmtablaoculto}}
{{frmtablaoculto2}}